﻿@using MAS.Work.EmployeeCatalog.ViewModels
@model VideoEditViewModel
    @{ ViewBag.Title = Model.Name + ": Редактирование"; }

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-5">
            <p>
                <img src="#" alt="preview" class="hidden img-thumbnail col-md-offset-1" id="main-preview" />
            </p>

            <div class="form-group">
                <label class="control-label col-md-3">Выберите превью к видео:</label>
                <div class="col-md-8 row">
                    @foreach (string previewItem in (IEnumerable<string>)ViewBag.Previews)
            {
                        <div class="video-thumb-container col-md-6">
                            <img src="@previewItem" class="video-thumb-image" alt="Preview image" />
                            <div class="video-thumb-overlay">
                                <span class="glyphicon glyphicon-fullscreen" title="Установить как основное превью"></span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-1">
            <div class="form-group">
                <label class="control-label col-md-2">Название</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => Model.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Описание</label>
                <div class="col-md-8">
                    @Html.TextAreaFor(x => Model.Description, new { @class = "form-control", @rows = "4" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Категория</label>
                <div class="col-md-5">
                    @Html.DropDownList("Category", (ViewBag.VideoCats as IEnumerable<SelectListItem>), new { @class = "form-control " })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Лектор</label>
                <div class="col-md-5">
                    @Html.DropDownList("Lector", (ViewBag.Users as IEnumerable<SelectListItem>), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <input type="button" class="btn btn-success btn-block" value="Сохранить" id="saveVideoBtn" />
                </div>
            </div>
            <div class="form-group hidden" id="gif">
                <div class="col-md-offset-2 col-md-5">
                    <img src="~/Content/gifs/loading01.gif" class="gif-loading" alt="Processing.."/>
                </div>
            </div>

        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {

        var main_preview_visible = false,
            ajaxProcessing = false;

        var mainPreview = '@Model.Preview';

        if (mainPreview.length>1)
            setMainPreview(mainPreview);

        $("#Lector").ready(function (e) {
            var lector = '@Model.LectorId'; 
            if (!lector) {
                var option = document.createElement('option');
                option.text = '-- Выберите лектора --';
                var list = document.getElementById('Lector');
                list.add(option, list.options[0]);
                list.selectedIndex = 0;
            }
        });

        $("#Category").ready(function (e) {
            var cat = '@Model.VideoCategoryId';
            if (!cat) {
                var option = document.createElement('option');
                option.text = '-- Выберите категорию --';
                var list = document.getElementById('Category');
                list.add(option, list.options[0]);
                list.selectedIndex = 0;
            }
        });

        $('.glyphicon-fullscreen').click(function () {

            $('span').each(function () {
                $(this).removeClass('glyphicon-ok').addClass('glyphicon-fullscreen');
                $(this).attr('title', 'Установить как основное превью')
            });

            $('.video-thumb-image').removeClass('video-thumb-container-active');

            var container = $(this).closest('.video-thumb-container');
            var src = $(container).find('.video-thumb-image').attr('src');

            setMainPreview(src);

            $(this).removeClass('glyphicon-fullscreen').addClass('glyphicon-ok');
            $(this).attr('title', 'Основное превью')
        });

        $('#saveVideoBtn').click(function () {
            if (!ajaxProcessing) {
                $(this).addClass('disabled');
                sendPost();
                ajaxProcessing = true;

                $(this).text('Сохранение..');
                $('#gif').removeClass('hidden');
            }
        });

        function setMainPreview(src) {
            if (!main_preview_visible) {
                $('#main-preview').removeClass('hidden');
                main_preview_visible = true;
            }
            $('#main-preview').attr('src', src);

        }
    });

    var editUrl = '@Url.Action("EditVideo")',
        returnUrl = '@Url.Action("Index")',
        path = '@Model.FileName',
        duration = '@Model.Duration',
        Id = '@Model.Id',
        AuthorId = '@Model.AuthorId';

    function CheckData() {
        if ($("#Category option:selected").text() == '-- Выберите категорию --')
            return { canProceed: false, error: 'Выберите категорию' };

        var preview = $('#main-preview').attr('src');
        if (preview == '#')
            return { canProceed: false, error: 'Выберите превью' };

        return { canProceed: true };

    }

    Redirect = function (url) {
        $(window).off('unload');
        $(window).off('beforeunload');

        window.location = url;
    }

    PostFailed = function () {
        ajaxProcessing = false;
        $(saveVideoBtn).removeClass('disabled');
        $(saveVideoBtn).text('Сохранить');
        $('#gif').addClass('hidden');
    }

    function sendPost() {
        var result = CheckData();

        if (!result.canProceed) {
            $.growl.warning({ title: 'Неполные данные', message: result.error });
            return;
        }

        var lector;

        if (!document.getElementById('Lector').selectedIndex == 0)
            lector = $('#Lector > option:selected').val();

        $.ajax({
            url: editUrl,
            type: 'POST',
            datatype: 'json',
            data: {
                FileName: path,
                Preview: $('#main-preview').attr('src'),
                Duration: duration,
                Name: $('#Name').val(),
                Description: $('#Description').val(),
                VideoCategoryId: $('#Category > option:selected').val(),
                LectorId: lector,
                Id: Id,
                AuthorId: AuthorId,
            },
            success: function (response) {
                if (response.Success) {
                    $.growl.notice({ title: 'Успех', message: 'Информация сохранена' });

                    setTimeout('Redirect(returnUrl)', 2 * 1000);
                }
                else {
                    $.growl.warning({ title: 'Ошибка', message: response.Error });

                    PostFailed();
                }
            },
            error: function (response, status, error) {

                var errors = response.responseJSON;

                if (errors) {
                    for (var i = 0; i < errors.length; i++) {
                        $.growl.warning({ message: errors[i].errors[0], title: '' });
                    }
                }
                else
                    $.growl.error({ title: 'Ошибка', message: (status || error) });

                PostFailed();
            }
        });
    }
</script>