﻿@model PageViewModel<VideoPreviewViewModel>
@using MAS.Work.EmployeeCatalog.ViewModels
@using MAS.Work.EmployeeCatalog.Helpers
<div class="form-horizontal">

    <div class="row">
        @foreach (var item in Model.Objects)
        {
            <div class="col-md-4">
                <div class="video-container">
                    <div class="thumbnail">
                        <img alt="video preview" src="@item.Preview">
                        <div class="caption">
                            <h4>@item.Name</h4>
                            <p>@item.PartOfDecription</p>
                            <p><label class="control-label">Лектор</label>: @item.Lector</p>
                            <div class="video-loading-date">
                                <label class="control-label">Загружено</label>: @item.UploadDate
                            </div>
                            <p>Комментариев: @item.CommentsCount</p>
                        </div>
                    </div>
                    <div class="video-overlay">
                        <div class="video-play">
                            <span class="glyphicon glyphicon-play-circle video-preview-span" title="Перейти к просмотру">
                                <input type="hidden" value="@item.Id" />
                            </span>
                            @if (User.IsInRole("admin") || User.IsInRole("moder"))
                            {
                                <span class="glyphicon glyphicon-pencil video-edit-span" title="Редактировать">
                                    <input type="hidden" value="@item.Id" />
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="btn-group" id="pages">
        <button class="btn btn-default" href="#" id="prev-page" onclick="step(-1)">«</button>
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Videos", new { page = x }))
        <button class="btn btn-default" href="#" id="next-page" onclick="step(1)">»</button>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var pageSize = '@Model.PageInfo.PageSize',
            pageNumber = '@Model.PageInfo.PageNumber',
            isFirstPage = '@Model.PageInfo.IsFirstPage',
            isLastPage = '@Model.PageInfo.IsLastPage',
            url = '@Url.Action("Videos")',
            editUrl = '@Url.Action("EditVideo")',
            viewVideoUrl = '@Url.Action("ViewVideo")',
            catId = '@Model.Param';

        $('#cats').val(catId);
        $('#prev-page').prop('disabled', isFirstPage);
        $('#next-page').prop('disabled', isLastPage);


        $('.video-preview-span').click(function () {
            var id = $(this).children('input[type=hidden]').val();
            window.location = viewVideoUrl + '?id=' + id; // ну это уже перебор
        });

        $('.video-edit-span').click(function () {
            var id = $(this).children('input[type=hidden]').val();
            window.location = editUrl + '?id=' + id; // ну это уже перебор
        });

        $('#pages').on('click', 'a', function (e) {
            e.preventDefault();
            getPage(this.href, this.text, $('#cats > option:selected').val());
        });
    });

    function step(itteration) {
        var pageNum = parseInt(pageNumber) + itteration;
        var catId = $('#cats > option:selected').val()
        getPage(url, pageNum, catId);
    }

    function getPage(href, pageNum, catId) {
        $('#videos-table').html('<img src="/content/gifs/loading01.gif" class="gif-loading">');

        $.ajax({
            url: href,
            data: {
                page: pageNum,
                catId: catId,
            },
            type: 'GET',
            cache: false,
            success: function (result) {
                $('#videos-table').html(result);
            },
            error: function (request, status, error) {
                console.log(error)
                $.growl.error({ message: error });
                $('#videos-table').html('');
            }
        });
    }
</script>
