﻿@{
    ViewBag.Title = "Каталог видео";
}

<hr />
<p>
    <a href="@Url.Action("Upload")" class="btn btn-danger"> Загрузить видео</a>
</p>
<h4>Видео:</h4>
      <hr />
<div class="container-fluid" id="videos-table">

</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $('#videos-table').html('<img src="../Content/gifs/loading01.gif" class="gif-loading" title="Загружаем.." alt="Loading" />');

                $.ajax({
                    url: '@Url.Action("Videos")',
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#videos-table').html(result);
                    },
                    error: function (request, status, error) {
                        console.log(error)
                        $.growl.error({ title: 'Ошибка', message: (error || status) });
                        $('#videos-table').html('');
                    }
                });
            });
        });
    </script>
}