﻿@{
    ViewBag.Title = "Загрузка видео";
}
<hr />

<div class="form-horizontal" id="main">
    <div id="loader">
        <input type="file" id="file-upload" alt="upload file" accept=".mp4" />
        <br /><br />
        <button class="btn btn-danger disabled" style="width: 150px;" id="btn-upload">
            Начать загрузку
        </button>
    </div>
    <div hidden id="loading-bar">
        <h3 style="font-family: monospace;">В данный момент ваше видео загружается. Пока что у нас нету информ. панели о статусе загрузки (скорость, процент загрузки, примерное время ожидания), поэтому вы пока можете посмотреть на собакена :3</h3>
        <img src="~/Content/gifs/loading02.gif" class="gif-loading" title="Вжух!" alt="sobaken" />
    </div>
</div>

<script type="text/javascript">
    $(function () {
            var file,
                filename;

            var userName = '@ViewBag.UserName',
                hash = '@ViewBag.Hash';

            var declaredChunkSize = @ViewBag.ChunkSize,
                chunkSize = declaredChunkSize * 1024 * 1024,
                chunkNumber = 0,
                chunk;

            var partialUploadUrl = '@Url.Action("UploadPartial")',
                uploadCompleteUrl = '@Url.Action("UploadComplete")',
                newFileNameUrl = '@Url.Action("GenerateHashName")',
                cleanUpUrl = '@Url.Action("CleanUp")',
                startEditingUrl = '@Url.Action("EditVideo")';

            $('#file-upload').on('change', function(){
                if ($(this)[0].files.length > 0){
                    file = $(this)[0].files[0];
                    $('#btn-upload').removeClass('disabled');
                }
            });

            $(window).on('unload', function (e) {
                console.log('page unloading. disposing temp dir')  ;
                $.ajax({
                    type: 'POST',
                    url: cleanUpUrl,
                    data: {
                        UserName: userName,
                        Oid: hash,
                    },
                });
            });

            RequestFileName = function(ext){
                $.ajax({
                    type: 'GET',
                    url: newFileNameUrl,
                    async: false,
                    data: {
                        extension : ext,
                    },
                    success: function(response){
                        filename = response.Name;
                        console.log('new name: '+filename);
                    }
                });
            };
            
            start = function(){
                var ext = file.name.substring(file.name.lastIndexOf('.') + 1);
                RequestFileName(ext);

                UploadFile();
            };

            $('#btn-upload').click(function () {
                if (file){
                    $('#loader').slideUp('slow');
                    $('#loading-bar').show('slow');
                    console.log('start uploading');

                    $(window).on('beforeunload', function(){
                        return 'Вы уверены, что хотите покинуть страницу?\nНесохраненные данные будут утеряны.'; // not all browsers supported that text
                    });
                    setTimeout(start, 2 * 1000);
                }
            });

            UploadFile = function () {
                var size = file.size;

                var count = Math.round(size / chunkSize) + 1;

                var start = 0,
                    end = chunkSize;

                //var sendingFailed = false;

                while ((chunkNumber < count) /*&& !sendingFailed */) {

                    chunk = file.slice(start, end);

                    var data = new FormData();

                    data.append('chunk', chunk);
                    data.append('chunkNumber', chunkNumber);
                    data.append('fileName', filename);
                    data.append('userName', userName);
                    data.append('hash', hash);

                    $.ajax({
                        url: partialUploadUrl,
                        type: 'POST',

                        cache: false,
                        contentType: false,
                        processData: false,
                        data: data,

                        success: function(response){
                            //if (!response.Succeeded)  {
                            //    $.growl.warning({title: 'Ошибка', message: response.Error});
                            //    sendingFailed = true;
                            //}
                        },
                    });
                    /*
                   if (sendingFailed) {
                       $.growl.error({title: 'Ошибка', message: 'Произошла ошибка во время загрузки.\nПовторите операцию'});
                       $('#loader').removeClass('hidden');
                       $('#loading-bar').addClass('hidden');
                       console.log('uploading failed');
                       $.ajax({
                           type: 'POST',
                           url: 'Url.Action("RefreshFolder")',
                           data: {
                               UserName: userName,
                               Oid: hash,
                           },
                       });
                       return;
                   }
                    */
                    ++chunkNumber;

                    start = end;
                    end = end + chunkSize;
                }

                UploadComplete(count);
            }

            UploadComplete = function (count) {
                
                $.ajax({
                    url: uploadCompleteUrl,
                    type: 'POST',
                    data: {
                        fileName: filename,
                        chunksCount: count,
                        userName: userName,
                        hash: hash,
                    },
                    success: function (result) {
                        if (result.Success){
                            console.log('combing succeeded');
                            $.growl.notice({title: 'Успешно', message: 'Видео загружено. Идет обработка..'});
                            StartEditingUploadedVideo(result.Id);
                        }
                        else{
                            console.log('combing failed');
                            $.growl.error({title: 'Неудачно', message: 'Во время загрузки видео произошла ошибка'});
                        }
                    },
                    error: function (response, status, error) {
                        $.growl.error({ title: 'Ошибка', message: (error || status) });
                    },
                });
            };

            StartEditingUploadedVideo = function(id){
                $.ajax({
                    url: startEditingUrl,
                    type: 'GET',
                    data: {
                        id: id,
                    },
                    success: function(response){
                        $('#loading-bar').slideUp('slow');
                        $('#main').html(response);
                    }
                });
            };
    });
</script>