﻿@using MAS.Work.EmployeeCatalog.ViewModels;
@model VideoWatchViewModel
@{
    ViewBag.Title = Model.Name+": Просмотр";
}

<script src="https://content.jwplatform.com/libraries/waYSwWb3.js"></script>

<div class="container-fluid">
    <p>
        <button class="btn btn-danger btn-sm" onclick="window.location.href = '@Url.Action("Index")';">
            <span class="glyphicon glyphicon glyphicon-arrow-left"></span> Назад
        </button>
    </p>
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <div id="video">
               
            </div>
            <div id="video-info">
                <input type="hidden" id="hidden-id" value="@Model.Id" />
                <h2>@Model.Name</h2>
                <p> @Model.Description</p>
                <p>
                    <div><span class="label label-primary">@Model.Category</span></div>
                    <div class="pull-right"><b>Лектор</b>: @Model.Lector</div>
                </p>
            </div>
            <br /><br />
            <div id="comments" class="well">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            var getCommsUrl = '@Url.Action("GetComments", "Comment")',
                path = '@Url.Content(@ViewBag.RelativePath + @Model.FileName)';

                jwplayer("video").setup({
                      file: path,
                 });

            RefreshComments = function(){
                $('#comments').html('<img src="/Content/gifs/loading01.gif" class="gif-loading" title="Загружаем.." alt="Loading" />');
                
                $.ajax({
                 url: getCommsUrl,
                 type: 'GET',
                 data: {
                        id: $('#hidden-id').val(),
                 },
                 success: function (response) {
                     $('#comments').html('').html(response);
                  },
                  error: function (response, status, error) {
                      $.growl.error({ title: 'Ошибка', message: (status || error) });
                  }
                });
            };

            RefreshComments();
        });
    </script>
}