﻿<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4 class="control-label">Добавление в группу</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-4 control-label"> Пользователь: </label>
                <div class="col-md-8">
                    @Html.DropDownList("Users", (ViewBag.Users as IEnumerable<SelectListItem>), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label"> Роль: </label>
                <div class="col-md-8">
                    @Html.DropDownList("Roles", (ViewBag.Roles as IEnumerable<SelectListItem>), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <input type="button" value="Добавить" class="btn btn-success btn-block" onclick="SendPost()" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function SendPost() {
        $.ajax({
            url: '@Url.Action("AddUserToRole")',
            type: 'POST',
            dataType: 'json',
            data: {
                userId: $("#Users > option:selected").val(),
                role: $("#Roles > option:selected").val(),
            },

            success: function (data) {
                if (data.Success) {
                    $.growl.notice({ title: '', message: "Добавление успешно" });
                    $('#Dialog').modal('hide');
                    RequestRolesList();
                }
                else {
                    for (var i = 0; i < data.Errors.length; i++) {
                        $.growl.warning({ title: '', message: data.Errors[i] });
                    }
                }
            },

            error: function (request, status, error) {
                $.growl.error({ message: error, duration: 3 * 1000 });
                for (var i = 0; i < request.responseJSON.length; i++) {
                    $.growl.error({ title: '', message: request.responseJSON[i].errors[0] });
                }
            }
        });
    }

</script>