﻿@model IEnumerable<Employee>
@using MAS.Work.EmployeeCatalog.Models

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <p>Список сотрудников данного отдела:</p>
    </div>
    <div class="modal-body">
        <ul>
            @foreach (var worker in Model)
            {
                <li>
                    <p>
                        @Html.DisplayFor(x => worker.ManInfo.SecondName) 
                        @Html.DisplayFor(x => worker.ManInfo.FirstName) 
                        @Html.DisplayFor(x => worker.ManInfo.MiddleName)
                       - <b>@Html.DisplayFor(x => worker.Post.Name)</b>
                    </p>
                </li>
            }
        </ul>
    </div>
</div>
