﻿@model DepartamentViewModel
@using MAS.Work.EmployeeCatalog.ViewModels

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4 class="control-label col-md-offset-1">Редактирование данных отдела</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(model
                    => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.OrgName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList(".Organization.Id", (IEnumerable
                    <SelectListItem>)ViewBag.Orgs, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <input type="button" value="Изменить" class="btn btn-info btn-block" onclick="SendPost()" />
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
    function SendPost() {
        $.ajax({
            url: '@Url.Action("EditDep", "AdminPanel")',
            type: 'POST',
            dataType: 'json',
            data:
            {
                Name: $('#Name').val(),
                Id: '@Model.Id',
                OrganizationId: $("#Organization_Id > option:selected").val()
            },

            success: function (data) {
                if (data.Success) {
                    $.growl.notice({ title: 'Успешно', message: "Отдел изменен" });
                    $('#Dialog').modal('hide');
                    LoadAsync('@Url.Action("ShowDeps", "AdminPanel")')
                }
                else {
                    $.growl.error({ title: 'Ошибка', message: data.Error });
                }
            },

            error: function (request, status, error) {
                $.growl.error({ title: 'Ошибка', message: error, duration: 3 * 1000 });
                for (var i = 0; i < request.responseJSON.length; i++) {
                    $.growl.error({ title: '', message: request.responseJSON[i].errors[0] });
                }
            }
        });
    }
</script>