﻿@model PageViewModel<Departament>
@using MAS.Work.EmployeeCatalog.Models 
@using MAS.Work.EmployeeCatalog.ViewModels
@using MAS.Work.EmployeeCatalog.Helpers

<p>
    <a href="#/" onclick="showInModal('@Url.Action("CreateDep", "AdminPanel")')" class="btn btn-primary btn-sm btn-outline-success" role="button">
        Создать отдел
    </a>
</p>
<table class="table table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Name)</th>
        @*
            <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Aims)</th>*@
        <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Organization.Name) </th>
        <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Employees)</th>
        <th>
            <text>Опции</text>
        </th>
    </tr>

    @foreach (var item in Model.Objects)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Name) </td>
            @*
                <td> @Html.DisplayFor(modelItem => item.Aims)</td>*@
            <td> @Html.DisplayFor(modelItem => item.Organization.Name)</td>
            <td>
                <a href="#/" onclick="showInModal('@Url.Action("ShowDepEmps", "AdminPanel")', '@item.Id')" class="btn btn-xs btn-info">@item.Employees.Count() чел.</a>
            <td>
                <a href="#/" onclick="showInModal('@Url.Action("EditDep", "AdminPanel")','@item.Id')" class="btn btn-xs btn-warning">Изменить</a>
                <a href="#/" onclick="deleteItem('@Url.Action("DeleteDep", "AdminPanel")', '@item.Id', 'Отдел удален.', '@Url.Action("ShowDeps", "AdminPanel")')" class="btn btn-xs btn-danger">Удалить</a>
            </td>
        </tr>
    }

</table>

<div class="btn-group" id="pages">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("ShowDeps", new { page = x }))
</div>

<script type="text/javascript">
    $('#pages').on('click', 'a', function (e) {
        e.preventDefault();
        
        LoadAsync(this.href, this.text, 10);
    });
</script>