﻿@model IEnumerable<ApplicationUser>
@using MAS.Work.EmployeeCatalog.Models


<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <p>Список пользователей данной группы:</p>
    </div>
    <div class="modal-body">
        <ul>
            @foreach (var user in Model)
            {
                <li><b>@Html.DisplayFor(x => user.UserName)</b></li>
            }
        </ul>
    </div>
</div>