﻿@model IEnumerable<Departament>
@using MAS.Work.EmployeeCatalog.Models

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <p>Список отделов данной организации:</p>
    </div>
    <div class="modal-body">
        <ul>
            @foreach (var dep in Model)
            {
                <li>@Html.DisplayFor(x => dep.Name)</li>
            }
        </ul>
    </div>
</div>

