﻿@using MAS.Work.EmployeeCatalog.Models
@using MAS.Work.EmployeeCatalog.ViewModels
@using MAS.Work.EmployeeCatalog.Helpers
@model PageViewModel<Organization>

    <p>
        <a href="#/" onclick="showInModal('@Url.Action("CreateOrg", "AdminPanel")')" class="btn btn-primary btn-sm btn-outline-success" role="button">Создать организацию</a>
    </p>
    <table class="table table-hover table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Departaments)</th>
            <th>
                <text>Опции</text>
            </th>
        </tr>

        @foreach (var item in Model.Objects)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Name)</td>

                <td>
                    <a href="#/" onclick="showInModal('@Url.Action("ShowOrgDeps", "AdminPanel")', '@item.Id')" class="btn btn-xs btn-info">@item.Departaments.Count() шт.</a>
                <td>
                    <a href="#/" onclick="showInModal('@Url.Action("EditOrg", "AdminPanel")','@item.Id')" class="btn btn-xs btn-warning">Изменить</a>
                    <a href="#/" onclick="deleteItem('@Url.Action("DeleteOrg", "AdminPanel")', '@item.Id', 'Организация удалена.', '@Url.Action("ShowOrgs", "AdminPanel")')" class="btn btn-xs
btn-danger">Удалить</a>
                </td>

            </tr>
        }

    </table>


    <div class="btn-group" id="pages">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("ShowOrgs", new { page = x }))
    </div>


    <script type="text/javascript">
        $('#pages').on('click', 'a', function (e) {
            e.preventDefault();
            
            LoadAsync(this.href, this.text, 10);
        });
    </script>