﻿@model PageViewModel<PostViewModel>
@using MAS.Work.EmployeeCatalog.ViewModels 
@using MAS.Work.EmployeeCatalog.Helpers


<p>
    <a href="#/" onclick="showInModal('@Url.Action("CreatePost", "AdminPanel")')" class="btn btn-primary btn-sm btn-outline-success" role="button">Создать должность</a>
</p>
<table class="table table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Name)</th>
        <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Count)</th>
        <th>
            <text>Опции</text>
        </th>
    </tr>

    @foreach (var item in Model.Objects)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Name) </td>
            <td>
                <a href="#/" onclick="showInModal('@Url.Action("ShowPostEmps", "AdminPanel")', '@item.Id')" class="btn btn-xs btn-info">@item.Count чел.</a>
            <td>
                <a href="#/" onclick="showInModal('@Url.Action("EditPost", "AdminPanel")','@item.Id')" class="btn btn-xs btn-warning">Изменить</a>
                <a href="#/" onclick="deleteItem('@Url.Action("DeletePost", "AdminPanel")', '@item.Id', 'Должность удалена', '@Url.Action("ShowPosts", "AdminPanel")')" class="btn btn-xs
btn-danger">Удалить</a>
            </td>
        </tr>
    }

</table>

<div class="btn-group" id="pages">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("ShowPosts", new { page = x }))
</div>

<script type="text/javascript">
    $('#pages').on('click', 'a', function (e) {
        e.preventDefault();

        LoadAsync(this.href, this.text, 10);
    });
</script>