﻿<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4 class="control-label">Удаление из группы</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-4 control-label"> Пользователь: </label>
                <div class="col-md-8">
                    @Html.DropDownList("Users", (ViewBag.Users as IEnumerable<SelectListItem>), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label"> Роль: </label>
                <div class="col-md-8">
                     @Html.DropDownList("Roles", (ViewBag.Roles as IEnumerable<SelectListItem>), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <button type="button" class="btn btn-warning btn-block" id="btn-delFromRole">
                        Удалить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var getRolesForUserUrl = '@Url.Action("GetRolesForCurrentUser")',
            removeFromRoleUrl = '@Url.Action("RemoveUserFromRole")';

        RefreshRolesSelect = function (enumerable) {
            var dropdown = $('#Roles');
            $(dropdown).empty();
           
            if (enumerable.length > 0) {
                $.each(enumerable, function (i, item) {
                    $(dropdown).append($('<option>', {
                        value: item.Value,
                        text: item.Text
                    }));
                });
            }
            else {
                $(dropdown).html("<option>-- Дрп. роли не найдены --</option>");
            }
        };


        $('#Users').change(function () {
            $.ajax({
                type: 'GET',
                url: getRolesForUserUrl,
                data: {
                    userId: $(this).val(),
                },

                success: function (response) {
                    if (response.Success)
                        RefreshRolesSelect(response.Roles);
                    else
                        $.growl.error({ title: '', message: response.Error });
                },

                error: function (response, error, status) {
                     $.growl.error({ message: 'Произошла ошибка: ' + error, title: 'Ошибка' });
                    var errors = response.responseJSON;

                    if (errors != null) {
                        for (var i = 0; i < errors.length; i++) {
                            $.growl.warning({ message: errors[i].errors[0], title: '' });
                        }
                    }
                },
            });
        });


        $('#btn-delFromRole').click(function () {
            SendPost();
        });

        function SendPost() {
            $.ajax({
                url: removeFromRoleUrl,
                type: 'POST',
                dataType: 'json',
                data: {
                    userId: $("#Users > option:selected").val(),
                    role: $("#Roles > option:selected").val(),
                },

                success: function (data) {
                    if (data.Success) {
                        $.growl.notice({ title: '', message: "Пользователь удален из группы успешно" });
                        $('#Dialog').modal('hide');
                        RequestRolesList();
                    }
                    else {
                        for (var i = 0; i < data.Errors.length; i++) {
                            $.growl.error({ title: '', message: data.Errors[i] });
                        }
                    }
                },

                error: function (request, status, error) {
                    $.growl.error({ message: error, duration: 3 * 1000 });
                    for (var i = 0; i < request.responseJSON.length; i++) {
                        $.growl.error({ title: '', message: request.responseJSON[i].errors[0] });
                    }
                }
            });
        }
    });

</script>