﻿@using MAS.Work.EmployeeCatalog.ViewModels
@model IEnumerable<RoleInfoViewModel>

<table class="table table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Count)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Name)</td>
            <td>
                <a href="#/" onclick="showInModal('@Url.Action("ShowRoleMembers")', '@item.Id')" class="btn btn-xs btn-info">@item.Count чел.</a>
            </td>
        </tr>
    }
</table>
