﻿@using MAS.Work.EmployeeCatalog.ViewModels
@model AppUserEditViewModel

@{
    ViewBag.Title = Model.UserName +": Редактирование данных пользователя";
}
<link rel="stylesheet" href="~/Content/dropzone/dropzone.css">

<script type="text/javascript" src="~/Scripts/cropper/cropper.js"></script>
<link rel="stylesheet" href="~/Content/cropper/cropper.css">

<button class="btn btn-danger" onclick="window.location.href = '@Url.Action("Index")';">
    <span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад
</button>

<h4>Создание аккаунта</h4>
<hr />
<div class="modal fade" id="avatar-modal" tabindex="-1" role="dialog" aria-labelledby="avatar-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title col-md-pull-1" id="avatar-modalLabel">Создайте аватар</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div id="dropZone" class="avatar-upload">
                        <input type="file" class="hidden" id="file-input" onchange="passData(files[0])" />
                        Для загрузки перетащите файл или нажмите <a href="#/" id="upload_link">сюда</a>​.
                    </div>

                    <div class="hidden" id="cropper-area">
                        <img class="crop-image" id="origin-image" src="@ViewBag.OriginImage">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group-xs btn-group-sm pull-left hidden" id="rotate-buttons">
                    <button type="button" class="btn btn-warning" title="Повернуть на 90 градусов против часовой стрелки" onclick="rotate(-90)">
                        <span class="glyphicon glyphicon-repeat icon-flipped"></span>
                    </button>
                    <button type="button" class="btn btn-warning" title="Повернуть на 90 градусов по часовой стрелки" onclick="rotate(90)">
                        <span class="glyphicon glyphicon-repeat"></span>
                    </button>
                </div>
                <button type="button" class="btn btn-success" onclick='SendData()'>Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <form id="formUserCreate">

        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="UserName" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SecondName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="SecondName" required />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="FirstName" required />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="birthday" required>
            </div>
        </div>
    </form>
    <div class="form-group">
        <label class="control-label col-md-2">Фото:</label>
        <div class="col-md-10">
            <p>
                <img src="@ViewBag.PreviewImage" class="img-preview" id="photo-minuature" />
            </p>
            <div class="btn-group-sm">
                <button class="btn btn-warning  btn-sm hidden" id="btn-av-prew-change">Изменить миниатюру</button>
                <button class="btn btn-success btn-sm" id="btn-av-load">Загрузить фото</button>
            </div>
        </div>
    </div>
    <form id="formUserCreate">
        <div class="form-group">
            <label class="control-label col-md-2">Место работы:</label>
            <div class="col-md-10">
                <p>
                    @Html.DropDownList("Organization", (ViewBag.Orgs as IEnumerable<SelectListItem>), new { @class = "form-control", id = "orglist", onchange = "changed(this.value)" })<br />
                    @Html.DropDownList("Departament", (ViewBag.Deps as IEnumerable<SelectListItem>), new { @class = "form-control", id = "deplist" })
                </p>
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Должность</label>
            <div class="col-md-10">
                @Html.DropDownList("Post", (ViewBag.Posts as IEnumerable<SelectListItem>), new { @class = "form-control", id = "postlist" })
            </div>
        </div>
    </form>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <input type="button" class="btn btn-warning btn-block" id="bt-requestEdit" value="Изменить" onclick="EditUser()" />
            <br/>
             <img id="processing-gif" src="/content/gifs/loading01.gif" class="gif-loading hidden">
        </div>
       
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function changed(data) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDepsAsync")',
                data: { id: data },
                success: function (result) {
                    RefreshDepartamentSelect(result);
                },
            })
        }

        RefreshDepartamentSelect = function(enumerable){
            var dropdown = $('#deplist');
            $(dropdown).empty();

            dropdown.show();

            if (enumerable.length > 0) {
                $.each(enumerable, function (i, item) {
                    $(dropdown).append($('<option>', {
                        value: item.Value,
                        text: item.Text
                    }));
                });
            }
            else {
                $(dropdown).html("<option>-- Отделы не добавлены --</option>");
            }
        };
    </script>

    <script type="text/javascript">
        var resizedPhoto,
            photo,
            cropped;

        var resizeImageUrl = '@Url.Action("ResizeImage")',
            cropPhotoUrl = '@Url.Action("CropThePhoto")',
            userEditUrl = '@Url.Action("EditUser")',
            backUrl = '@Url.Action("Index")';

        var cropperActive = false,
            dropZoneIsActive = false,
            loaded = false,
            processing = false;

        var angle = 0
            cropX = 0,
            cropY = 0,
            cropWidth = 0,
            cropHeight = 0;

        var img;

        var gifLoading = '<img class="gif-loading" src="/content/gifs/loading01.gif" class="gif-loading">';

        function HasPhoto() {
            return '@ViewBag.OriginImage' != '';
        }

        $(function () {
            $('#btn-av-load').click(function(){
                $('#avatar-modal').modal('show');

                InitDropZone();
            });

            $("#upload_link").on('click', function (e) {
                e.preventDefault();
                $("#file-input").trigger('click');
            });

            $('#birthday').datepicker({
                startDate: "01.01.1900",
                endDate: "31.12.2010",
                startView: 1,
                language: "ru",
                format: "dd.mm.yyyy",
                orientation: "auto right",
                keyboardNavigation: false,
            });

            $('#btn-av-prew-change').click(function () {
                $('#dropZone').addClass('hidden');
                
                $('#avatar-modal').modal('show');

                setTimeout(function () {
                    InitCropper();
                }, 0.5 * 1000); // хз почему, но кропперу нужен делей после появления модального окна
            });

            setDataFromModel = function(){
                $('#birthday').datepicker('setDate', '@Model.BirthDay.Value.ToShortDateString()');

                $('#UserName').val('@Model.UserName');
                $('#FirstName').val('@Model.FirstName');
                $('#SecondName').val('@Model.SecondName');
                $('#MiddleName').val('@Model.MiddleName');
            };

            setDataFromModel();

            $('#avatar-modal').on('hidden.bs.modal', function () {
                DestroyDropZone();

                if (cropperActive)
                    StopCropper();

                $('#cropper-area').addClass('hidden');

                $('#rotate-buttons').addClass('hidden');
            });

            $('#formUserCreate').validator();

            activateBtnChangePreview();
        });

        function activateBtnChangePreview() {
            if (HasPhoto()){
                $('#btn-av-prew-change').removeClass('hidden');
            }
        }

        function passData(file) {
            var isFileCorrectExtension = checkFileExtension(file);

            if (!isFileCorrectExtension)
                $.growl.error({ tittle: "Неверный тип файла", message: "Выберите файл формата: .jpg / .jpeg / .png / .bmp" })

            else
                SetOriginPhoto(document.getElementById('file-input').files[0]);

            $('#file-input').val('');
        }

        function checkFileExtension(file) {
            var regex = new RegExp("([^\.]*)+(.jpg|.png|.bmp|.jpeg)$");
            //var ext = file.name.substring(file.name.lastIndexOf('.') + 1);
            return regex.test(file.name.toLowerCase());
        }


        function InitDropZone() {

            var dropZone = $('#dropZone'),
                maxFileSize = 10000000; // максимальный размер фалйа - 5 мб.

            dropZone.removeClass('hidden');

            if (typeof (window.FileReader) == 'undefined') {
                dropZone.text('Не поддерживается браузером!');
                dropZone.addClass('error');
            }

            dropZone[0].ondragover = function () {
                dropZone.addClass('hover');
                return false;
            };

            dropZone[0].ondragleave = function () {
                dropZone.removeClass('hover');
                return false;
            };

            dropZone[0].ondrop = function (event) {
                event.preventDefault();
                dropZone.removeClass('hover');
                dropZone.addClass('drop');

                var file = event.dataTransfer.files[0];

                if (!checkFileExtension(file)) {
                    dropZone.removeClass('drop');
                    $.growl.error({ tittle: "Неверный формат файла", message: "Выберите файл формата: .jpg / .jpeg / .png / .bmp" })
                    return false;
                }

                if (file.size > maxFileSize) {
                    dropZone.text('Файл слишком большой!');
                    dropZone.addClass('error');
                    return false;
                }
                SetOriginPhoto(file);
                dropZone.removeClass('drop');
            };

            dropZoneIsActive = true;
        }

        function DestroyDropZone() {
            var dropZone = $('#dropZone');

            $('#dropZone').addClass('hidden');
            dropZone[0].ondrop = null;
            dropZone[0].ondragleave = null;
            dropZone[0].ondragover = null;

            dropZoneIsActive = false;
        }

        function uploadProgress(event) {
            var percent = parseInt(event.loaded / event.total * 100);
            dropZone.text('Загрузка: ' + percent + '%');
        }

        function stateChange(event) {
            if (event.target.readyState == 4) {
                if (event.target.status == 200) {
                    dropZone.text('Загрузка успешно завершена!');
                } else {
                    $.growl.error({ title: 'Ошибка', message: 'Произошла ошибка, повторите загрузку' });
                }
            }
        }


        function SetOriginPhoto(file) {
            photo = file;
            $('#dropZone').addClass('hidden');

            loaded = true;
            activateBtnChangePreview();

            $('#cropper-area').removeClass('hidden');
            $('#cropper-area').html(gifLoading);
            var data = new FormData();

            data.append('file', file);

            $.ajax({
                url: resizeImageUrl,
                type: 'POST',
                dataType: 'json',
                processData: false,
                contentType: false,
                data: data,
                success: function (result) {
                    $('#cropper-area').html();
                    if (result.Success) {
                        resizedPhoto = result.resizedImage;
                        InitCropper();
                    }
                },
                error: function (response, status, error) {
                    $.growl.error({ title: 'Ошибка', message: error });
                }
            });
        }


        function rotate(_angle) {
            img.cropper('rotate', _angle);
        }

        function InitCropper() {
            $('#cropper-area').removeClass('hidden');

            $('#rotate-buttons').removeClass('hidden');

             if (!loaded) {
                img = $('#origin-image');
            }

            else {
                img = $('<img class="crop-image" src="' + URL.createObjectURL(photo) + '">');
                $('#cropper-area').empty().html(img);
            }

            img.cropper({
                aspectRatio: 3 / 4,
                minCropBoxWidth: 150,
                minCropBoxHeight: 200,
                autoCrop: false,
                zoomable: false,
                scalable: false,
                crop: function (e) {
                    cropX = e.x,
                    cropY = e.y,
                    cropHeight = e.height,
                    cropWidth = e.width
                    angle = e.rotate
                }
            });

            cropperActive = true;
        }

        function StopCropper() {
            img.cropper('destroy');
            img.remove();
            cropperActive = false;
        }


        function CheckSizes() {
            return cropWidth <= 1050 && cropHeight <= 1400;
        }

        function SendData() {

            var canProceed = CheckSizes();

            if (!canProceed) {
                $.growl.warning({
                    title: 'Превышен размер', message: 'Размер выделенной области слишком велик'
                });
            }
            else {
                 var data = new FormData();
                 
            // чет мне тоже сие не нравки, смахивает на костыль
            if (photo == null) {
                data.append('origin', '@ViewBag.OriginImage');
            }
            else {
                data.append('origin', resizedPhoto);
            }
            //

           

            data.append('cropX', cropX);
            data.append('cropY', cropY);

            data.append('cropWidth', cropWidth);
            data.append('cropHeight', cropHeight);
            data.append('angle', angle);

            $.ajax({
                url: cropPhotoUrl,
                type: 'POST',
                dataType: 'json',
                processData: false,
                contentType: false,
                data: data,
                success: function (data) {
                    if (data.Success) {

                        StopCropper();

                        $('#btn-av-load').text('Загрузить другое фото');

                        cropped = data.preview;
                        $('#photo-minuature').attr('src', data.preview);
                        $('#photo-minuature').removeClass('hidden');

                        $('#avatar-modal').modal('hide');
                    }
                    else
                        $.growl.error({ title: 'Ошибка', message: data.Error });

                },
                error: function (resposne) {
                    $.growl.error({ title: 'Ошибка', message: resposne.Error });
                }
            });
        }
        }

        function EditUser(){
            if (!processing){
                processing = true;
                $('#bt-requestEdit').prop('disabled', true).text('Изменяется..')

                $('#processing-gif').removeClass('hidden');

                RequestEdit();
            }
        }

        ajaxCancelled = function(){
            $('#bt-requestEdit').prop('disabled', false).text('Изменить')
            $('#processing-gif').addClass('hidden');

            processing = false;
        }

        function RequestEdit() {
            var data = new FormData();
            data.append('originFile', photo);


            data.append('Preview', cropped);

            data.append('UserName', $('#UserName').val());
            data.append('FirstName', $('#FirstName').val());
            data.append('SecondName', $('#SecondName').val());
            data.append('MiddleName', $('#MiddleName').val());
            data.append('BirthDay', $('#birthday').val());

            data.append('UserId', '@Model.UserId');
            data.append('EmployeeId', '@Model.EmployeeId');
            data.append('PostId', $('#postlist > option:selected').val());
            data.append('DepartamentId', $("#deplist > option:selected").val());

            $.ajax({
                url: userEditUrl,
                type: 'POST',
                dataType: 'json',
                data: data,

                processData: false,
                contentType: false,

                success: function (data) {
                    if (data.Success) {
                        $.growl.notice({ title: 'Успешно', message: 'Данные пользователя изменены' });
                        window.location.href = backUrl;
                    }
                    else {
                        for (var i = 0; i < data.Errors.length; i++) {
                            $.growl.error({ message: data.Errors[i] });
                        }
                    }
                    ajaxCancelled();
                },
                error: function (response, status, error) {
                    $.growl.error({ message: 'Произошла ошибка: ' + error, title: 'Ошибка' });
                    var errors = response.responseJSON;

                    if (errors != null) {
                        for (var i = 0; i < errors.length; i++) {
                            $.growl.warning({ message: errors[i].errors[0], title: '' });
                        }
                    }
                    ajaxCancelled();
                }
            });
        }
    </script>
}