﻿@using MAS.Work.EmployeeCatalog.Helpers;
@model IEnumerable<ApplicationUser>
@using MAS.Work.EmployeeCatalog.Models

<table class="table table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.UserName)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th><text>Опции</text></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserName).Concate(() => (User.Identity.Name == item.UserName ? " <b>(Это вы)</b>" : ""))</td>
            <th>@Html.DisplayFor(model => item.Email)</th>

            <td>
                <div class="btn-toolbar">
                    <button onclick="ShowFullInfo('@item.Id')" class="btn btn-xs btn-info">
                        Полные данные
                    </button>
                    @if (User.Identity.Name != item.UserName)
                {
                        <a href="@Url.Action("EditUser", new { id = @item.Id })" class="btn btn-xs btn-warning">
                            Редактировать
                        </a>
                        <button onclick="ResetPassword('@item.Email')" class="btn btn-xs btn-default">
                            Сбросить пароль
                        </button>
                        <button onclick="DeleteUser('@item.Id')" class="btn btn-xs btn-danger">
                            Удалить
                        </button>
                    }
                </div>
            </td>
        </tr>
    }

</table>

<script type="text/javascript">

$(function(){
    var userDetailsUrl = '@Url.Action("Details")',
        userDeleteUrl = '@Url.Action("DeleteUser")',
        userResetPasswdUrl = '@Url.Action("ResetPassword","Account")';

    
    DeleteUser = function (userId) {
        var result = confirm("Вы уверены?");
        if (result) {
            $.ajax({
                type: 'POST',
                url: userDeleteUrl,
                data: { id: userId },
                success: function (result) {
                    if (result.Success){
                        $.growl.notice({ title: "Успешно", message: "Пользователь удален" });
                        location.reload();
                    }
                   else
                    for(var i = 0; i < result.Errors.length; i++)
                        $.growl.warning({title:'', message:result.Errors[i]});
                },
                error: function (request, status, error) {
                    $.growl.error({title:'Ошибка', message: error });
                }
            })
        }
    };

    ResetPassword = function(userEmail){
        $.ajax({
            type: 'POST',
            url: userResetPasswdUrl,
            data: {
                email : userEmail
            },

            success: function(response){
                if (response.Success)
                    $.growl.notice({title: '', message: 'Пароль пользователя успешно сброшен'});
                else{
                        if (response.Errors != null)
                            $.each(response.Errors, function(i, item){
                              $.growl.error({message: item, title: ''});
                             });
                    }
            },

            error: function(response, status, error){
                $.growl.error({title: 'Ошибка', message: (error || status)});
            },
        });
    };

    ShowFullInfo = function(userId){
        $.ajax({
            type: 'GET',
            url: userDetailsUrl,
            data: { id: userId },
            success: function (result) {
                $('#dialogContent').html(result);
                $('#Dialog').modal('show');
            },
            error: function (request, status, error) {
                $.growl.error({title:'Ошибка', message: error });
            }
        });
    };
});

</script>