﻿@model AppUserInfoViewModel
@using MAS.Work.EmployeeCatalog.Helpers;
@using MAS.Work.EmployeeCatalog.ViewModels


<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <p>Данные на пользователя <b>@Model.UserName</b>:</p>
    </div>
    <div class="modal-body">
        <ul>
            <li>@Html.DisplayNameFor(model => model.UserName): <b>@Html.DisplayFor(model => model.UserName).Concate(() => (User.Identity.Name == Model.UserName ? " <b>(Это вы)</b>" : ""))</b></li>
            <li>@Html.DisplayNameFor(model => model.Email): <b>@Html.DisplayFor(model => model.Email)</b></li>
            <li>@Html.DisplayNameFor(model => model.FirstName): <b>@Html.DisplayFor(model => model.FirstName)</b></li>
            <li>@Html.DisplayNameFor(model => model.MiddleName): <b>@Html.DisplayFor(model => model.MiddleName)</b></li>
            <li>@Html.DisplayNameFor(model => model.SecondName): <b>@Html.DisplayFor(model => model.SecondName)</b></li>
            <li>@Html.DisplayNameFor(model => model.BirthDay): <b>@Html.DisplayFor(model => model.BirthDay)</b></li>
            <li>@Html.DisplayNameFor(model => model.RegisterDate): <b>@Html.DisplayFor(model => model.RegisterDate)</b></li>
        </ul>
    </div>
</div>
