﻿@model VideoCategoryCreateViewModel
@using MAS.Work.EmployeeCatalog.ViewModels

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4 class="control-label col-md-offset-1">Создание категории</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <input type="button" value="Создать" class="btn btn-success btn-block" onclick="CreateVideoCat()" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function CreateVideoCat() {
        $.ajax({
            url: '@Url.Action("CreateVideoCat", "AdminPanel")',
            type: 'POST',
            dataType: 'json',
            data:
            {
                Name: $('#Name').val()
            },
            success: function (data) {
                if (data.Success) {
                    $.growl.notice({ title:'Успешно', message: "Категория создана" });
                    $('#Dialog').modal('hide');
                    LoadAsync('@Url.Action("ShowVideoCats", "AdminPanel")')
                }
                else {
                        $.growl.error({ title:'Ошибка' , message: data.Error });
                }
            },

            error: function (request, status, error) {
                $.growl.error({ title:'Ошибка', message: error, duration: 3 * 1000 });
                for (var i = 0; i < request.responseJSON.length; i++) {
                    $.growl.warning({ title:'', message: request.responseJSON[i].errors[0] });
                }
            }
        });
    }
</script>

