﻿@model IEnumerable<Video>
@using MAS.Work.EmployeeCatalog.Models

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <p>Видео-ролики данной категории</p>
    </div>
    <div class="modal-body">
        <ul>
            @foreach (var video in Model)
            {
                <li>
                    @Html.DisplayFor(x => video.Name)
                </li>
            }
        </ul>
    </div>
</div>
