﻿@model PageViewModel<VideoPreviewViewModel>
@using MAS.Work.EmployeeCatalog.ViewModels 
@using MAS.Work.EmployeeCatalog.Helpers

    <table class="table table-hover table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Preview)</th>
            <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().PartOfDecription)</th>
            <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Author)</th>
            <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Rate)</th>
            <th>
                <text>Опции</text>
            </th>
        </tr>

        @foreach (var item in Model.Objects) 
        {
        <tr>
            <td class="col-md-1"> <img class="img-thumbnail" src="@item.Preview" alt="video-preview" /> </td> @* // TODO: Add here jq hover viewer *@
            <td class="col-md-4"> @Html.DisplayFor(x => item.PartOfDecription) </td>
            <td> @Html.DisplayFor(x => item.Author) </td>
            <td> @Html.DisplayFor(x => item.Rate) </td>
            <td>
                <div class="btn-toolbar">
                    <a class="btn btn-sm btn-info" href="@Url.Action("ViewVideo","Video", new { @id = @item.Id })">
                    Просмотр
                </a>
                    <a class="btn btn-sm btn-warning" href="@Url.Action("EditVideo","Video", new { @id = @item.Id })">
                    Редактировать
                </a>
                    <button class="btn btn-sm btn-danger" 
                    onclick="deleteItem('@Url.Action("DeleteVideo", "AdminPanel")', '@item.Id', 'Видео удалено', '@Url.Action("ShowVideos")')">
                        Удалить
                    </button>
                </div>
            </td>
        </tr>
        }

    </table>

    <div class="btn-group" id="pages">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("ShowVideos", new { page = x }))
    </div>

    <script type="text/javascript">
        $('#pages').on('click', 'a', function (e) {
                e.preventDefault();
                
                LoadAsync(this.href, this.text, 10);
        });
    </script>