﻿@{
    ViewBag.Title = "Управление каталогом";
}

<p><button class="btn btn-danger" onclick="window.location.href = '@Url.Action("Index", "AdminPanel")';">
    <span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад</button>
    </p>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="#" id="orgs" onclick="LoadAsync('@Url.Action("ShowOrgs", "AdminPanel")', 1, 10)">Организации</a></li>
    <li role="presentation"><a href="#" onclick="LoadAsync('@Url.Action("ShowDeps", "AdminPanel")', 1, 10)">Отделы</a></li>
    <li role="presentation"><a href="#" onclick="LoadAsync('@Url.Action("ShowPosts", "AdminPanel")', 1, 10)">Должности</a></li>
</ul>
<br />
<div id="table">
</div>

@section scripts{
    <script type="text/javascript">
    $(function(){
        $(".nav li").on("click", function () {
            $(".nav li").removeClass("active");
            $(this).addClass("active");
        });

        LoadAsync = function(adress, page, size){
            $('#table').html('<img src="/content/gifs/loading01.gif" class="gif-loading">');

            $.ajax({
                type: 'GET',
                url: adress,
                data: {
                    page: page,
                    pageSize: size,
                },
                success: function(response){
                    $('#table').html(response);
                },
                error: function(response, status, error){
                    $('#table').html('');
                    $.growl.error({ title: 'Ошибка', message: (error || status), });
                }
            });
        };

        showInModal = function(url, id){
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: id },
                success: function(response){
                    $('#dialogContent').html(result);
                    $('#Dialog').modal('show');
                },
                error: function(response, error, status){
                    $.growl.error({ title: 'Ошибка',  message: (error || status) });
                },
            });
        };

        deleteItem = function(url, itemId, MessageSuccess, callbackUrl){
            var result = confirm('Вы уверены?');
            if (result){
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { id: itemId },
                    success: function(response){
                        if (response.Success){
                            $.growl.notice({ title: "Успешно", message: MessageSuccess });
                            LoadAsync(callbackUrl)
                        }
                        else
                            $.growl.error({title:'Ошибка', message: result.Error });
                    },
                    error: function(response, status, error){
                        $.growl.error({ title:'Ошибка',  message: (error || status) });
                    },
                });
            }
        };

        $('#orgs').click();

        LoadAsync('@Url.Action("ShowOrgs", "AdminPanel")', 1, 10);
    });
        

    </script>
}