﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Создание роли";
}
@Html.ActionLink("Назад", "RoleManage", null, new { @class = "back-button" })
<br />
@Html.AntiForgeryToken()
@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    <text class="col-md-2 control-label">Название роли</text>
    <div class="col-md-10">
        @Html.TextBoxFor(x => x.Name) <input type="button" class="my-button-2" value="Создать" onclick="submit()" />
    </div>
</div>
<br />
<div class="form-group">
    <h4 class="my-ul-header">Добавить пользователя к роли:</h4>
    <form id="ch">
        <ul class="col-md-10">
            @foreach (MAS.Work.EmployeeCatalog.Models.ApplicationUser user in ViewBag.Users)
            {
                <li>
                    @Html.CheckBox(user.Id) @Html.DisplayFor(x => user.UserName, new { @class = "form-control" })
                </li>
            }
        </ul>
    </form>
</div>


<script type="text/javascript">
    function submit() {
        var form = $('#ch').serialize();
        $.ajax({
            url: '@Url.Action("CreateRole", "AdminPanel")',
            type: 'POST',
            dataType: 'json',
            data:
            {
                RoleName: $('#Name').val(),
                usersString: form
            },
            success: function (data) {
                if (data.Success) {
                    $.growl.notice({title:'Успешно', message: "Роль создана\nВыбранные пользователи добавлены." });
                    window.location.href = '@Url.Action("RoleManage", "AdminPanel")';
                }
                else {
                   for (var i = 0; i < data.Errors.length; i++) {
                         $.growl.error({title:'Ошибка', message: data.Errors[i] });
                    }
                       
                }

            },
            error: function (request, status, error) {
                $.growl.error({title:'Ошибка', message: error });
            }
        });
    };
</script>