﻿@model IEnumerable<ApplicationUser>
@using MAS.Work.EmployeeCatalog.Models
@{
    ViewBag.Title = "Админка";
}
<h4>Опции:</h4>

<div class="form-horizontal">

    <ul class="nav nav-pills nav-stacked well well-sm col-md-3">
        <li role="presentation"><a href="@Url.Action("RoleManage")">Управление ролями</a></li>
        <li role="presentation"><a href="@Url.Action("CatalogManage")">Управление каталогом</a></li>
        <li role="presentation"><a href="@Url.Action("VideoCatalog")">Управление видео</a></li>
        <li role="presentation"><a href="@Url.Action("UserCreate")">Создать пользователя</a></li>
        <li role="presentation" class="active"><a href="#">Список пользователей</a></li>
    </ul>
    <br /><br />
    @{ Html.RenderPartial("_UsersTable", Model);}
</div>