﻿ @{ ViewBag.Title = "Управление группами"; }

<p>
    <button class="btn btn-danger" onclick="window.location.href = '@Url.Action("Index")';">
    <span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад</button>
</p>

<p>
    <b>Система ролей</b> - универсальный способ разграничения доступа пользователя к различным ресурсам приложения.
</p>


<div class="btn-toolbar" role="group">
    <button class="btn btn-success btn-sm" id="btn-add-to-role">
        Добавить пользователя в роль
        </button>
    <button class="btn btn-warning btn-sm" id="btn-delete-from-role">
        Удалить пользователя из роли
        </button>
</div>
<br/><br/>
<div id="list">

</div>

<script type="text/javascript">
    $(function () {
        var rolesListUrl = '@Url.Action("GetRoles")',
            roleAddUserUrl = '@Url.Action("AddUserToRole")',
            roleDeleteUser = '@Url.Action("RemoveUserFromRole")';

        RequestRolesList = function () {
            $('#list').html('<img src="../Content/gifs/loading01.gif" class="gif-loading" title="Загружаем.." alt="Loading" />');

            $.ajax({
                type: 'GET',
                url: rolesListUrl,
                success: function (result) {
                    $('#list').html('').html(result);
                },
                error: function (request, status, error) {
                    $.growl.error({ title: 'Ошибка', message: error });
                     $('#list').html('');
                }
            });
        };

        $('#btn-add-to-role').click(function(){
            showInModal(roleAddUserUrl);
        });

        $('#btn-delete-from-role').click(function(){
            showInModal(roleDeleteUser);
        });

        RequestRolesList();
    });

    function showInModal(url, id) {
        $.ajax({
            type: 'GET',
            url: url,
            data: { id: id },
            success: function (result) {
                $('#dialogContent').html(result);
                $('#Dialog').modal('show');
            },
            error: function (request, status, error) {
                $.growl.error({ title: 'Ошибка', message: error });
            }
        })
    }

</script>