﻿@using MAS.Work.EmployeeCatalog.ViewModels
@model AppUserRegisterViewModel

@{
  ViewBag.Title = "Создание пользователя";
}
<link rel="stylesheet" href="~/Content/dropzone/dropzone.css">

<script type="text/javascript" src="~/Scripts/cropper/cropper.js"></script>
<link rel="stylesheet" href="~/Content/cropper/cropper.css">

<button class="btn btn-danger" onclick="window.location.href = '@Url.Action("Index")';">
    <span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад
</button>

<h4>Создание аккаунта</h4>
<hr />
<div class="modal fade" id="avatar-modal" tabindex="-1" role="dialog" aria-labelledby="avatar-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title col-md-pull-1" id="avatar-modalLabel">Создайте аватар</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div id="dropZone" class="avatar-upload">
                        <input type="file" class="hidden" id="file-input" onchange="passData(files[0])" />
                        Для загрузки перетащите файл или нажмите <a href="#/" id="upload_link">сюда</a>​.
                    </div>

                    <div class="hidden" id="cropper-area">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group-xs btn-group-sm pull-left hidden" id="rotate-buttons">
                    <button type="button" class="btn btn-warning" title="Повернуть на 90 градусов против часовой стрелки" onclick="rotate(-90)">
                        <span class="glyphicon glyphicon-repeat icon-flipped"></span>
                    </button>
                    <button type="button" class="btn btn-warning" title="Повернуть на 90 градусов по часовой стрелки" onclick="rotate(90)">
                        <span class="glyphicon glyphicon-repeat"></span>
                    </button>
                </div>
                <button type="button" class="btn btn-success" onclick='SendData()'>Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <form id="formUserCreate">
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="text" class="form-control" id="Email" onkeyup="validate()" required/>
            @* @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @onkeyup = "validate()" }) *@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SecondName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="text" class="form-control" id="SecondName" required/>
            @* @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="text" class="form-control" id="FirstName" required/>
          @*  @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" }) *@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BirthDay, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" class="form-control" id="birthday" required>
        </div>
    </div>
</form>
    <div class="form-group">
        <label class="control-label col-md-2">Фото:</label>
        <div class="col-md-10">
            <p>
                <img src="#" class="hidden img-preview" id="photo-minuature" />
            </p><button class="btn btn-primary" id="btn-av-load">Загрузить фото</button>

        </div>
    </div>
<form id="formUserCreate">
    <div class="form-group">
        <label class="control-label col-md-2">Место работы:</label>
        <div class="col-md-10">
            <p>
                @Html.DropDownList("Organization", (ViewBag.Orgs as IEnumerable<SelectListItem>), new { @class = "form-control", id = "orglist", onchange = "changed(this.value)" })<br />
                @Html.DropDownList("Departament", new List<SelectListItem>(), new { @class = "form-control", id = "deplist" })
            </p>
        </div>

    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Должность</label>
        <div class="col-md-10">
            @Html.DropDownList("Post", (ViewBag.Posts as IEnumerable<SelectListItem>),
           new { @class = "form-control", id = "postlist" })
        </div>
    </div>
</form>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <input type="button" class="btn btn-success btn-block" value="Создать" onclick="CreateUser()" />
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function changed(data) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDepsAsync")',
                data: { id: data },
                success: function (result) {
                    RefreshDepartamentSelect(result);
                },
            })
        }

        RefreshDepartamentSelect = function(enumerable){
            var dropdown = $('#deplist');
            $(dropdown).empty();

            dropdown.show();
           
            if (enumerable.length > 0) {
                $.each(enumerable, function (i, item) {
                    $(dropdown).append($('<option>', {
                        value: item.Value,
                        text: item.Text
                    }));
                });
            }
            else {
                $(dropdown).html("<option>-- Отделы не добавлены --</option>");
            }
        };

        function validate() {
            var input = $('#Email'),
                value = $(input).val();
            if (validateMail(value)) {
                $(input).css("border", "rgba(204, 204, 204, 0.8) solid 1px");
            }
            else {
                $(input).css("border", "red solid 1px");
            }
        }

        function validateMail(mail) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(mail);
        }
    </script>

    <script type="text/javascript">
        var resizedPhoto;
        var photo;
        var cropped;

        var cropperActive = false;
        var dropZoneIsActive = false;

        var angle = 0;
        var cropX = 0, cropY = 0, cropWidth = 0, cropHeight = 0;

        var img;

        $(function () {
            $('#btn-av-load').click(function(){
                $('#avatar-modal').modal('show');
            });

            $("#upload_link").on('click', function (e) {
                e.preventDefault();
                $("#file-input").trigger('click');
            });

            $("#orglist").ready(function (e) {
                var option = document.createElement('option');
                option.text = '-- Выберите организацию --';
                var list = document.getElementById('orglist');
                list.add(option, list.options[0]);
                list.selectedIndex = 0;
                $('#deplist').hide();
            });

            $('#birthday').datepicker({
                startDate: "01.01.1900",
                endDate: "31.12.2010",
                startView: 1,
                language: "ru",
                format: "dd.mm.yyyy",
                orientation: "auto right",
                keyboardNavigation: false,
            });

            $('#btn-av-load').click(function () {
                InitDropZone();
            });

            $('#avatar-modal').on('hidden.bs.modal', function () {
                DestroyDropZone();

                if (cropperActive)
                    StopCropper();

                $('#cropper-area').addClass('hidden');

                $('#rotate-buttons').addClass('hidden');
            });

            $('#formUserCreate').validator();
        });

        function passData(file) {
            var isFileCorrectExtension = checkFileExtension(file);

            if (!isFileCorrectExtension)
                $.growl.error({ tittle: "Неверный тип файла", message: "Выберите файл формата: .jpg / .jpeg / .png / .bmp" })

            else
                SetOriginPhoto(document.getElementById('file-input').files[0]);

            $('#file-input').val('');
        }

        function checkFileExtension(file) {
            var regex = new RegExp("([^\.]*)+(.jpg|.png|.bmp|.jpeg)$");
            //var ext = file.name.substring(file.name.lastIndexOf('.') + 1);
            return regex.test(file.name.toLowerCase());
        }


        function InitDropZone() {

            var dropZone = $('#dropZone'),
                maxFileSize = 10000000; // максимальный размер фалйа - 5 мб.

            dropZone.removeClass('hidden');

            if (typeof (window.FileReader) == 'undefined') {
                dropZone.text('Не поддерживается браузером!');
                dropZone.addClass('error');
            }

            dropZone[0].ondragover = function () {
                dropZone.addClass('hover');
                return false;
            };

            dropZone[0].ondragleave = function () {
                dropZone.removeClass('hover');
                return false;
            };

            dropZone[0].ondrop = function (event) {
                event.preventDefault();
                dropZone.removeClass('hover');
                dropZone.addClass('drop');

                var file = event.dataTransfer.files[0];

                if (!checkFileExtension(file)) {
                    dropZone.removeClass('drop');
                    $.growl.error({ tittle: "Неверный формат файла", message: "Выберите файл формата: .jpg / .jpeg / .png / .bmp" })
                    return false;
                }

                if (file.size > maxFileSize) {
                    dropZone.text('Файл слишком большой!');
                    dropZone.addClass('error');
                    return false;
                }
                SetOriginPhoto(file);
                dropZone.removeClass('drop');
            };

            dropZoneIsActive = true;
        }

        function DestroyDropZone() {
            var dropZone = $('#dropZone');

            $('#dropZone').addClass('hidden');
            dropZone[0].ondrop = null;
            dropZone[0].ondragleave = null;
            dropZone[0].ondragover = null;

            dropZoneIsActive = false;
        }

        function uploadProgress(event) {
            var percent = parseInt(event.loaded / event.total * 100);
            dropZone.text('Загрузка: ' + percent + '%');
        }

        function stateChange(event) {
            if (event.target.readyState == 4) {
                if (event.target.status == 200) {
                    dropZone.text('Загрузка успешно завершена!');
                } else {
                    $.growl.error({ title: 'Ошибка', message: 'Произошла ошибка, повторите загрузку' });
                }
            }
        }


        function SetOriginPhoto(file) {
            photo = file;
            $('#dropZone').addClass('hidden');

            $('#cropper-area').removeClass('hidden');
            $('#cropper-area').html('<img class="gif-loading" src="/content/gifs/loading01.gif">');
            var data = new FormData();

            data.append('file', file);

            $.ajax({
                url: '@Url.Action("ResizeImage")',
                type: 'POST',
                dataType: 'json',
                processData: false,
                contentType: false,
                data: data,
                success: function (result) {
                    $('#cropper-area').html();
                    if (result.Success) {
                        resizedPhoto = result.resizedImage;
                        InitCropper();
                    }
                },
                error: function (response, status, error) {
                    $.growl.error({ title: 'Ошибка', message: error });
                }
            });
        }


        function rotate(_angle) {
            img.cropper('rotate', _angle);
        }

        function InitCropper() {
            $('#cropper-area').removeClass('hidden');

            $('#rotate-buttons').removeClass('hidden');

            img = $('<img class="crop-image" src="' + resizedPhoto + '">');
            $('#cropper-area').empty().html(img);

            img.cropper({
                aspectRatio: 3 / 4,
                minCropBoxWidth: 150,
                minCropBoxHeight: 200,
                autoCrop: false,
                zoomable: false,
                scalable: false,
                crop: function (e) {
                    cropX = e.x,
                    cropY = e.y,
                    cropHeight = e.height,
                    cropWidth = e.width
                    angle = e.rotate
                }
            });

            cropperActive = true;
        }

        function StopCropper() {
            img.cropper('destroy');
            img.remove();
            cropperActive = false;
        }


        function CheckSizes() {
            return cropWidth <= 1050 && cropHeight <= 1400;
        }

        function SendData() {

            var canProceed = CheckSizes();

            if (!canProceed) {
                $.growl.warning({
                    title: 'Превышен размер', message: 'Размер выделенной области слишком велик'
                });
                return false;
            }

            var data = new FormData();
            data.append('origin', resizedPhoto);

            data.append('cropX', cropX);
            data.append('cropY', cropY);

            data.append('cropWidth', cropWidth);
            data.append('cropHeight', cropHeight);
            data.append('angle', angle);

            $.ajax({
                url: '@Url.Action("CropThePhoto")',
                type: 'POST',
                dataType: 'json',
                processData: false,
                contentType: false,
                data: data,
                success: function (data) {
                    if (data.Success) {

                        StopCropper();

                        $('#btn-av-load').text('Загрузить другое фото');

                        cropped = data.preview;
                        $('#photo-minuature').attr('src', data.preview);
                        $('#photo-minuature').removeClass('hidden');

                        $('#avatar-modal').modal('hide');
                    }
                    else
                        $.growl.error({ title: 'Ошибка', message: data.Error });

                },
                error: function (resposne) {
                    $.growl.error({ title: 'Ошибка', message: resposne.Error });
                }
            });
        }

        function CreateUser() {
            var data = new FormData();
            data.append('originFile', photo);

            data.append('Preview', cropped);

            data.append('Email', $('#Email').val());

            data.append('FirstName', $('#FirstName').val());
            data.append('SecondName', $('#SecondName').val());
            data.append('MiddleName', $('#MiddleName').val());
            data.append('BirthDay', $('#birthday').val());

            data.append('PostId', $('#postlist > option:selected').val());
            data.append('DepartamentId', $("#deplist > option:selected").val());

            $.ajax({
                url: '@Url.Action("UserCreate")',
                type: 'POST',
                dataType: 'json',
                data: data,

                processData: false,
                contentType: false,

                success: function (data) {
                    if (data.Success) {
                        $.growl.notice({ title: 'Успешно', message: "Пользователь создан" });
                        window.location.href = '@Url.Action("Index")';
                    }
                    else {
                        for (var i = 0; i < data.Errors.length; i++) {
                            $.growl.error({ message: data.Errors[i] });
                        }
                    }
                },
                error: function (response, status, error) {
                    $.growl.error({ message: 'Произошла ошибка: ' + error, title: 'Ошибка' });
                    var errors = response.responseJSON;

                    if (errors != null) {
                        for (var i = 0; i < errors.length; i++) {
                            $.growl.warning({ message: errors[i].errors[0], title: '' });
                        }
                    }
                }
            });
        }
    </script>
}