﻿@{
    ViewBag.Title = "Управление видео";
}

<p>
    <button class="btn btn-danger" onclick="window.location.href = '@Url.Action("Index", "AdminPanel")';">
        <span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад
    </button>
</p>

<ul class="nav nav-tabs">
    <li role="presentation" id="cats"><a href="#" onclick="LoadAsync('@Url.Action("ShowVideoCats")', 1, 10)">Категории</a></li>
    <li role="presentation" id="videos"><a href="#" onclick="LoadAsync('@Url.Action("ShowVideos")', 1, 10)">Видео</a></li>
</ul>
<br />
<div id="table">
</div>

@section scripts{
    <script type="text/javascript">
        $('.nav li').on('click', function () {
            if (!($(this).hasClass('disabled'))) {
                $('.nav li').removeClass('active');
                $(this).addClass('active');
            }
        });
        $(document).ready(function () {
            $('#cats').click();
           LoadAsync('@Url.Action("ShowVideoCats", "AdminPanel")')
        });

        function LoadAsync(adress, page, size) {
            $('#table').html('<img src="/content/gifs/loading01.gif" class="gif-loading">');
        
            $.ajax({
                type: "GET",
                url: adress,
                data: {
                    page : page, 
                    pageSize : size,
                }, 
                success: function (result) {
                    $('#table').html(result);
                },
                error: function (request, status, error) {
                    $.growl.error({ title: 'Ошибка', message: error });
                    $('#table').html('');
                }
            });
        }

        function showInModal(url, id) {
            $.ajaxSetup({ cache: false });
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: id },
                success: function (result) {
                    $('#dialogContent').html(result);
                    $('#Dialog').modal('show');
                },
                error: function (request, status, error) {
                    $.growl.error({ title: 'Ошибка', message: error });
                }
            })
        }

        function deleteItem(url, itemId, MessageSuccess, callbackUrl) {
            var result = confirm('Вы уверены?');
            if (result) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { id: itemId },
                    success: function (result) {
                        if (result.Success) {
                            $.growl.notice({ title: 'Успешно', message: MessageSuccess });
                            LoadAsync(callbackUrl)
                        }

                        else
                            $.growl.error({ title: 'Ошибка', message: result.Error });
                    },
                    error: function (request, status, error) {
                        $.growl.error({ title: 'Ошибка', message: error });
                    }
                })
            }
        }
    </script>
}