﻿<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <p>Авторизация:</p>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <input id="login" class="form-control" placeholder="Логин \ e-mail">
            <br />
            <input type="password" class="form-control" id="passwd" placeholder="Пароль" />
            <br />
            <button class="btn btn-block btn-primary" id="btLogin">
                Войти
            </button>
            <br />
            <button class="btn btn-block btn-warning" id="btForgotPasswd">
                Восстановить пароль
            </button>
            <br />
            <div class="col-md-offset-5 hidden" id="gif">
                <img src="@Url.Content("~/Content/gifs/loading01.gif")">
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {

        var loginUrl = '@Url.Action("Login", "Account")',
        resetPasswdUrl = '@Url.Action("ResetPassword", "Account")',
        proccessing = false;

        validateInput = function (input) {
            return $(input).val().length > 0;
        };

        ajaxCancelled = function (button, text) {
            $('#gif').addClass('hidden');

            $('button').prop('disabled', false);
            $(button).text(text);

            proccessing = false;
        };

        ajaxStarted = function (button, text) {

            proccessing = true;

            $('#gif').removeClass('hidden');

            $('button').prop('disabled', true);
            $(button).text(text);
        };

        ResetPassRequest = function (_mail) {
            ajaxStarted($('#btForgotPasswd'), 'Выполняется запрос..');

            $.ajax({
                url: resetPasswdUrl,
                type: 'POST',
                data: {
                    email: _mail,
                },

                success: function (data) {
                    if (data.Success) {
                        $.growl.notice({
                            title: 'Успешно',
                            message: 'Временный пароль выслан вам на email', duration: 3 * 1000
                        });

                        setTimeout(function () {
                            $('#Dialog').modal('hide');
                        }, 3.1 * 1000);
                    }
                    else {
                        if (data.Errors != null)
                            for (var i = 0; i < data.Errors.length; i++) {
                                $.growl.warning({ title: '', message: data.Errors[i] });
                            }
                        ajaxCancelled($('#btForgotPasswd'), 'Восстановить пароль');
                    }
                },
                error: function (request, status, error) {
                    $.growl.error({ message: status, title: 'Ошибка ' + error });
                    ajaxCancelled($('#btForgotPasswd'), 'Восстановить пароль');
                }
            });
        };

        Login = function (_mail, _login) {
            ajaxStarted($('#lgbutton'), 'Авторизация..');

            $.ajax({
                url: loginUrl,
                type: 'POST',
                dataType: 'json',
                data: {
                    Login: _login,
                    Email: _mail,
                    Password: $('#passwd').val(),
                },

                success: function (data) {
                    if (data.Success) {
                        $('#gif').addClass('hidden');

                        $.growl.notice({
                            title: 'Успешно',
                            message: 'Авторизация успешна успешна', duration: 2 * 1000
                        });

                        setTimeout(function () {
                            location.reload();
                        }, 2.1 * 1000);
                    }
                    else {
                        ajaxCancelled($('#lgbutton'), 'Войти');

                        $.growl.error({ message: data.Error, title: 'Ошибка' });
                    }
                },
                error: function (request, status, error) {
                    ajaxCancelled($('#lgbutton'), 'Войти');
                    $.growl.error({ message: status, title: 'Ошибка ' + error });
                }
            });
        };

        validateMail = function (string) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(string);
        };

        $('#login').on('keyup', function () {
            var input = $(this).val();

            if (input.includes('@@')) {
                if (validateMail(input)) {
                    $(this).css("border", "rgba(204, 204, 204, 0.8) solid 1px");
                }
                else {
                    $(this).css("border", "red solid 1px");
                }
            }
            else {
                $(this).css("border", "rgba(204, 204, 204, 0.8) solid 1px");
            }
        });

        $('#btLogin').click(function () {
            if (!proccessing) {
                var Succeded = validateInput($('#login')) || validateInput($('#passwd'));

                if (!Succeded) {
                    $.growl.warning({
                        title: '',
                        message: 'Заполните все поля'
                    });
                }

                else {
                    var input = $('#login').val();
                    var _login, _mail;
                    if (input.includes('@@'))
                        _mail = input;
                    else
                        _login = input;

                    Login(_mail, _login);
                }
            }
        });

        $('#btForgotPasswd').click(function () {
            if (!proccessing) {
                var Succeded = validateInput($('#login')) && validateMail($('#login').val());

                if (!Succeded) {
                    $.growl.warning({
                        title: '',
                        message: 'Введите email'
                    });
                }

                else {
                    ResetPassRequest($('#login').val());
                }
            }
        });

    });
</script>