﻿<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <p>Запрос на смену пароля:</p>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <input id="mail" class="form-control" placeholder="e-mail">
            <br />
            <button class="btn btn-block btn-warning" id="btForgotPasswd">
                Восстановить пароль
            </button>
            <br />
            <div class="col-md-offset-5 hidden" id="loading-gif">
                <img src="@Url.Content("~/Content/gifs/loading01.gif")">
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
         var resetPasswdUrl = '@Url.Action("ResetPassword", "Account")',
             processing = false;

         validateMail = function (string) {
             var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
             return pattern.test(string);
         };

         $('#mail').on('keyup', function () {
             var value = $(this).val();

             if (validateMail(value)) {
                 $(this).css("border", "rgba(204, 204, 204, 0.8) solid 1px");
             }
             else {
                 $(this).css("border", "red solid 1px");
             }
         });

         validateInput = function (input) {
            return $(input).val().length > 0;
         };

         ajaxCancelled = function (button, text) {
             $('#loading-gif').addClass('hidden');

             $(button).prop('disabled', false);
             $('#btForgotPasswd').text(text);
         };

         ResetPassRequest = function (_mail) {
             $('#loading-gif').removeClass('hidden');

             $('#btForgotPasswd').prop('disabled', true);
             $('#btForgotPasswd').text('Выполняется запрос..');

             $.ajax({
                url: resetPasswdUrl,
                type: 'POST',
                data: {
                    email: _mail,
                },
                success: function (data) {
                    if (data.Success) {
                        $.growl.notice({
                            title: 'Успешно',
                            message: 'Временный пароль выслан вам на email', duration: 2 * 1000
                        });

                        $('#Dialog').modal('hide');
                    }
                    else {
                        ajaxCancelled($('#btForgotPasswd'), 'Восстановить пароль')
                        if (data.Errors != null)
                            for (var i = 0; i < data.Errors.length; i++) {
                                $.growl.warning({ title: '', message: data.Errors[i] });
                            }
                    }
                },
                error: function (request, status, error) {
                    $.growl.error({ message: status, title: 'Ошибка ' + error });
                    ajaxCancelled($('#btForgotPasswd'), 'Восстановить пароль')
                }
            });
        };

        $('#btForgotPasswd').click(function () {
            if (!processing) {
                var Succeded = validateInput($('#mail'));

                if (!Succeded) {
                    $.growl.warning({
                        title: '',
                        message: 'Введите email'
                    });
                }

                else {
                    ResetPassRequest($('#mail').val());
                }
            }
        });
    });
</script>