﻿@using MAS.Work.EmployeeCatalog.Models
@{
    ViewBag.Title = "Авторизация";
}
<hr />
<div class="row">
    <div class="col-md-6">
        <h4>Используйте локальную учетную запись для входа.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                <input type="text" id="FirstInput" class="form-control" placeholder="Логин \ e-mail">
                <br />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="password" class="form-control" id="passwd" placeholder="Пароль" /><br />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 btn-group-vertical">
                <button type="button" id="btLogin" class="btn btn-success">
                    Выполнить вход
                </button><br />
                <a href="#" id="passwdReset">Восстановить пароль</a>
            </div>
        </div>

        <div class="form-group hidden" id="gif">
            <div class="col-md-7 col-md-push-2">
                <br />
                <img src="@Url.Content("~/Content/gifs/loading01.gif")" alt="loading-gif" title="Загружаюсь.." />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        var loginUrl = '@Url.Action("Login", "Account")',
            returnUrl = '@ViewBag.ReturnUrl',
            resetPasswdUrl= '@Url.Action("ResetPassword", "Account")',
            proccessing = false;

        validateMail = function (string) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(mail);
        };

        validateInput = function (input) {
            return $(input).val().length > 0;
        };

        ajaxCancelled = function (button, text) {
            $('#gif').addClass('hidden');

            proccessing = false;
            $(button).text(text);
            $('button').prop('disabled', false);
        };

        ajaxStarted = function (button, text) {
            $('#gif').removeClass('hidden');

            proccessing = true;
            $(button).text(text);
            $('button').prop('disabled', true);
        };

        Login = function (_login, _mail, password) {
            ajaxStarted($('#btLogin'), 'Авторизация..');

            $.ajax({
                url: loginUrl,
                type: 'POST',
                data: {
                    Login: _login,
                    Email: _mail,
                    Password: password,
                    returnUrl: returnUrl,
                },

                success: function (data) {
                    if (data.Success) {
                        $.growl.notice({
                            title: '',
                            message: "Авторизация успешна успешна\n\
Через 5 секунд вы будете перенаправлены.",
                            duration: 4 * 1000
                        });

                        setTimeout(function () {
                            window.location.href = data.Url;
                        }, 5 * 1000);
                    }
                    else {
                        $.growl.error({ title: '', message: data.Error });
                         ajaxCancelled($('#btLogin'), 'Войти');
                    }
                },

                error: function (request, status, error) {
                    $.growl.error({ title: '', message: (error || status) });
                    ajaxCancelled($('#btLogin'), 'Войти');
                }
        });
        };

        ResetPassword = function () {
            $.ajax({
                url: resetPasswdUrl,
                type: 'GET',

                success: function (result) {
                    $('#dialogContent').html(result).addClass('modal-sm');
                    $('#Dialog').addClass('bs-example-modal-sm').modal('show');
                },

                error: function (request, status, error) {
                    $.growl.error({ title: '', message: (error || status) });
                }
            });
        };

        $('#FirstInput').on('keyup', function () {
            var value = $(this).val();

            if (value.includes('@@')) {
                if (validateMail(value)) {
                    $(this).css("border", "rgba(204, 204, 204, 0.8) solid 1px");
                }
                else {
                    $(this).css("border", "red solid 1px");
                }
            }
            else {
                $(this).css("border", "rgba(204, 204, 204, 0.8) solid 1px");
            }
        });

        $('#btLogin').click(function () {
            if (!proccessing) {
                var Succeded = validateInput($('#FirstInput')) || validateInput($('#passwd'));

                if (!Succeded) {
                    $.growl.warning({
                        title: '',
                        message: 'Заполните все поля'
                    });
                }

                else {
                    var input = $('#FirstInput').val();
                    var _login, _mail;
                    if (input.includes('@@'))
                        _mail = input;
                    else
                        _login = input;

                    Login(_login, _mail, $('#passwd').val());
                }
            }
        });

        $('#passwdReset').click(function () {
            if (!proccessing) {
                ResetPassword();
            }
        });

        $('#modal').on('hidden.bs.modal', function () {
            $('#gif').addClass('hidden');
            proccessing = false
        });

    });
</script>
