﻿@model CommentAddViewModel
@using MAS.Work.EmployeeCatalog.ViewModels

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => Model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.TextAreaFor(x => Model.Text, new { @class = "form-control", @rows = "2", @style="min-width: 100%;" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-success btn-block" id="btn-sumbitComm" disabled="true">
                Добавить
            </button>
        </div>
    </div>
    <hr/>
</div>

<script type="text/javascript">
var comSubmitUrl = '@Url.Action("AddComment", "Comment")';

$('#Text').on('keyup',function(){
    if ($(this).val().length > 0)
        $('#btn-sumbitComm').removeAttr('disabled');
    else
        $('#btn-sumbitComm').attr('disabled', 'true');
});

$('#btn-sumbitComm').click(function(){

    $(this).attr('disabled', 'true');
    $(this).closest('.form-group').append('<img src="../Content/gifs/loading01.gif" class="gif-loading" title="Загружаем.." alt="Loading" />')

    $.ajax({
        type: 'POST',
        url: comSubmitUrl,
        data: {
            LectureId: '@Model.LectureId',
            Text: $('#Text').val(),
        },

        success: function(response){
            if (response.Success){
                $.growl.notice({title: '', message: 'Комментарий добавлен'});
                RefreshComments();
            }
            else{
                $.growl.error({title: 'Ошибка', message:response.Error});
                $('#btn-sumbitComm').removeAttr('disabled');
            }
        },

        error: function(response, status, error){
            $.growl.error({title:'', message: (status || error)});
            $('#btn-sumbitComm').removeAttr('disabled');
        }
    });
});
</script>
