﻿@using MAS.Work.EmployeeCatalog.ViewModels;
@using Microsoft.AspNet.Identity;
@model IEnumerable<CommentPreviewViewModel>

<div id="area-addComm">
<p>
    <button class="btn btn-primary btn-sm" id="btnAddComment">
        Добавить комметарий
    </button>
</p>
</div>

@foreach (var comment in Model)
{
    <div class="media">
        <img alt="avatar preview" src="@comment.AuthorAvatar" class="pull-left comment-avatar" style="padding: 3px;
    margin-left: -2px;
    outline: 2px solid #040404;
    outline-offset: -4px;" title="@comment.Author" />
        <div class="media-body comment-body">
            <h4 class="media-heading">@comment.Author</h4>
            <p>@comment.Text</p>
            <p class="comment-date">@comment.Date  
                @if (comment.AuthorId == User.Identity.GetUserId() || User.IsInRole("admin") || User.IsInRole("admin")) {
                <a href="#" class="comment-del-link" onclick="DeleteComment(event, '@comment.Id')">Удалить</a>
                }
            </p>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {

        var comAddUrl = '@Url.Action("AddComment", "Comment")',
            comDelUrl = '@Url.Action("Delete", "Comment")';

        $('#btnAddComment').click(function () {

            $(this).addClass('hidden');

            $.ajax({
                url: comAddUrl,
                type: 'GET',
                data: {
                   id: $('#hidden-id').val(),
                },
                success: function (response) {
                    $('#area-addComm').append(response);
                },
                error: function (response, status, error) {
                    $.growl.error({ title: 'Ошибка', message: (status || error) });
                }
            }); 
        });

        DeleteComment = function(event, id){
            event.preventDefault();
            var isUserSure = confirm('Вы уверены?');
            if (isUserSure){
                $.ajax({
                    type: 'POST',
                    url: comDelUrl,
                    data: {
                        id: id,
                    },

                    success: function(response){
                        if (response.Success)
                            $.growl.notice({title: 'Успешно', message: 'Комментарий удален'});
                        else
                            $.growl.error({title: 'Ошибка', message: response.Error});

                        RefreshComments();
                    },

                    error: function(response, error, status){
                        $.growl.error({title: 'Ошибка', message: (error || status)});
                        RefreshComments();
                    }
                });
            }
        }
    });
</script>
