﻿/*#region videos preview page*/

.video-loading-date{
    bottom: 8%;
    position: absolute;
}


.video-container {
}

.video-container .thumbnail {
    height: 410px;
    width: auto;
}

.video-overlay {
    position: absolute;
    top: -2px;
    bottom: 16px;
    left: 11px;
    right: 11px;
    opacity: 0;
    transition: .5s ease;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.video-play {
}

    .video-play .video-preview-span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border-radius: 10px;
        color: transparent;
        font-size: 500%;
        color: gray;
    }

    .video-play .video-edit-span {
        position: absolute;
        top: 10%;
        left: 90%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border-radius: 10px;
        color: transparent;
        font-size: 200%;
        color: gray;
    }

    .video-play span:hover {
        color: black;
    }


.video-container:hover .video-overlay {
    opacity: 0.6;
}

/*#endregion*/

/*#region video edit thumbnails */
.video-main-thumb {
    width: 320px;
    height: auto;
}

.video-thumb-container {
    position: relative;
    height: auto;
}

.video-thumb-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.video-thumb-overlay {
    position: absolute;
    top: 1%;
    bottom: 0;
    left: 10%;
    right: 10%;
    opacity: 0;
    transition: .5s ease;
    background-color: #111111;
    border-radius: 8px;
}

    .video-thumb-overlay .glyphicon-fullscreen {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border-radius: 10px;
        color: transparent;
        font-size: 300%;
        color: white;
        opacity: 0.7;
    }

    .video-thumb-overlay .glyphicon-ok {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border-radius: 10px;
        color: transparent;
        font-size: 300%;
        color: #5DCFF5;
        opacity: 0.7;
    }

    .video-thumb-overlay span:hover {
        opacity: 1;
    }


.video-thumb-container:hover .video-thumb-overlay {
    opacity: 0.6;
}
/*#endregion*/

/*#region image crop */
.gif-loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.crop-image {
    max-width: 100%;
}

.img-preview {
    height: auto;
    width: 30%;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
/*#endregion*/

/*#region video watch*/
.video-watch-container {
  position: relative;
  width: 50%;
}

.video-watch-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #FBFBFB;
}

.video-watch-container:hover .video-watch-overlay {
  opacity: 0.6;
}

.video-watch-overlay span {
  color: gray;
  font-size: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.video-watch-overlay span:hover{
    color: black;
}
/*#endregion*/

/*#region comment view*/
.comment-avatar{
    width: 80px;
    height: auto;
}

.comment-body{
    padding-left: 6px;
    padding-top: 3px;
}

.comment-date{
    color: #939393;
}

.comment-del-link{

}
/*#endregion*/