﻿@model AppUserChangePasswordViewModel
@using MAS.Work.EmployeeCatalog.ViewModels

<h4>Смена паролья</h4>
<hr />
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewPasswordConfirmation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NewPasswordConfirmation, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Сохранить" class="btn btn-info btn-block" onclick="ChangePass()" />
        </div>
    </div>
</div>

<script type="text/javascript">
    function ChangePass() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ChangePassword")',
            dataType: 'json',
            data: {
                UserId: '@Model.UserId',
                OldPassword: $('#OldPassword').val(),
                NewPassword: $('#NewPassword').val(),
                NewPasswordConfirmation: $('#NewPasswordConfirmation').val(),
            },
        success: function (result) {
                if (result.Success) {
                    $.growl.notice({ title: 'Успешно', message: 'Пароль изменен' });
                    setTimeout(function () {
                        window.location.href = '@Url.Action("Index")';
                    }, 1, 5 * 1000);
                }
                else {
                    $.growl.error({ title: 'Ошибка', message: '', duration: 2 * 1000, });
                    for (var i = 0; i < result.Errors.length; i++) {
                        $.growl.warning({ title: '', message: result.Errors[i] });

                    }
                }

            },
            error: function (response, status) {
                $.growl.error({ title:'Ошибка', message: status, duration: 2 * 1000 });
                var errors = response.responseJSON;
                if (errors != null)
                    for (var i = 0; i < errors.length; i++) {
                        $.growl.warning({ title: '', message: errors[i].errors[0] });
                    }
            }
        });
    }

</script>
