﻿@{ ViewBag.Title = "Управление аккаунтом"; }

<div class="form-horizontal">
    <p>
        В данном разделе вы можете произвести параметризацию своего аккаунта. 
        <br/>
        <br/>Раздел будет дополняться.
    </p>
    <hr/>
<div class="row">
<div class="col-md-3">

<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active" id="home"><a href="#" onclick="Show(this, null)">Стартовая страница</a></li>
  <li role="presentation" id="pass-change"><a href="#" onclick="Show(this, '@Url.Action("ChangePassword")')" >@if(@Model.HasTemporaryPassword){<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> }Смена пароля</a></li>
  <li role="presentation" id="info-change"><a href="#" onclick="Show(this, '@Url.Action("ChangeInfo")')">Редактирование данных</a></li>
  <li role="presentation" class="disabled" id="email-change"><a href="#" onclick="Show(this, null)">Смена почтового адреса</a></li>
  <li role="presentation" class="disabled"  id="double-auth"><a href="#" onclick="Show(this, null)">Двухэтапная аутентификация</a></li>
</ul>

</div>

<div class="col-md-8">
<div class="well" id="content">
<p>Hello, world!</p>
</div>

</div>

</div>
  
</div>

@section scripts{
<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            if ('@Model.HasTemporaryPassword' != 'False'){
               // disableCauseTempPass($('#double-auth'));
                // disableCauseTempPass($('#email-change'));
                  disableCauseTempPass($('#info-change'));
        }
    });

    function disableCauseTempPass(element){
        $(element).addClass('disabled');
        $(element).prop('title', 'Недоступно! Смените пароль');
    }
});

function Show(el, _url){
    if (_url !=null){
        var parent = $(el).parent();
        $(parent).addClass('active');
        var activeId = $(parent).attr('id');
        $('.nav li').each(function(){
            var id = $(this).attr('id');
            if (id != activeId)
                $(this).removeClass('active');
        });

         LoadAsync(_url);
    }
        
    }

    function LoadAsync(_url){
         
        $('#content').html('<img src="/content/gifs/loading01.gif" class="gif-loading">');
        $.ajax({
            type: 'GET',
            url: _url,
            success: function (result) {
                $('#content').html(result);
            },
            error: function (request, status, error) {
                $.growl.error({ title:'Ошибка '+error, message: status });
                $('#content').html('');
            }
        });
    }
</script>
}
