﻿@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>
<br /><br /><br />
<p>Данный продукт разработан с целью изучения возможностей технологии ASP.NET MVC.</p>
<p>Также одной из целей разработок было выполнение тестового задания, как подтверждения. Подтверждения желания развивать навыки владения ASP.NET MVC.</p>