﻿@{
    ViewBag.Title = "Контактная информация";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:bodynar@gmail.com">bodynar@gmail.com</a><br />
    <strong>BitBucket:</strong> <a href="https://bitbucket.org/bodynar/asp-project">https://bitbucket.org/bodynar/asp-project</a>
</address>
