﻿@using MAS.Work.EmployeeCatalog.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - emp.cat.localhost</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/CustomStyle")
    @Styles.Render("~/Content/growl")
    @Styles.Render("~/Content/datepicker")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="Dialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @Html.ActionLink("Video storage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Админка", "Index", "AdminPanel").If(User.IsInRole("admin"))</li>
                    <li>@Html.ActionLink("Сотрудники", "Index", "Employees")</li>
                    <li>@Html.ActionLink("О нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Видео", "Index", "Video")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundlers/growl")
    @Scripts.Render("~/bundlers/bootstrap-validator")
    @*@Scripts.Render("~/bundlers/notify")*@
    @RenderSection("scripts", required: false)
</body>
</html>