﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello there, " + User.Identity.GetUserName() + "!", "Index", "AccountManage", routeValues: null, htmlAttributes: new { title = "Управление профилем" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Авторизация", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @onclick = "loginClick(event, this)" })</li>
    </ul>
}

<script type="text/javascript">
    function loginClick(event, el) {
        event.preventDefault();
        $.ajaxSetup({ cache: false });
        $.ajax({
            type: "GET",
            url: '@Url.Action("EasyLogin", "Account")',
            success: function (result) {
                $('#dialogContent').html(result);
                $('#Dialog').addClass('bs-example-modal-sm');
                $('#dialogContent').addClass('modal-sm');
                $('#Dialog').modal('show');
            },
            error: function (request, status, error) {
                $.growl.error({ title: 'Ошибка', message: error });
            }
        })
    };
</script>
