﻿@model Employee
@using MAS.Work.EmployeeCatalog.Models

<div class="modal-content">
    <div class="modal-body">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="detailsLabel">Данные сотрудника @Model.ManInfo.Initals</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="@ViewBag.ImageData" class="crop-image" />
                </div>
                <div class="col-md-6">
                    <p><label class="control-label">Фамилия</label>: @Model.ManInfo.SecondName</p>
                    <p><label class="control-label">Имя</label>: @Model.ManInfo.FirstName</p>
                    <p><label class="control-label">Отчество</label>: @Model.ManInfo.MiddleName</p>
                    <p><label class="control-label">Дата рождения</label>: @Model.ManInfo.BirthDay.ToString("dd.MM.yyyy") <i>(Возраст: @Model.ManInfo.Age)</i></p>
                    <hr align="left" />
                    <h3>Место работы</h3>
                    <p><label class="control-label">Организация</label>: @Model.Departament.Organization.Name</p>
                    <p><label class="control-label">Отдел</label>: @Model.Departament.Name</p>
                    <p><label class="control-label">Должность</label>: @Model.Post.Name</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
