﻿@model IEnumerable<Employee>
@using MAS.Work.EmployeeCatalog.Models

<table class="table table-hover table-bordered table-condensed">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ManInfo.Initals)</th>
        <th>@Html.DisplayNameFor(model => model.Post)</th>
        <th>@Html.DisplayNameFor(model => model.Departament)</th>
        <th>Опции</th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <th>@Html.DisplayFor(x => item.ManInfo.Initals)</th>
            <th>@Html.DisplayFor(x => item.Post.Name)</th>
            <th>@Html.DisplayFor(x => item.Departament.Name)</th>
            <td>
                @if (User.IsInRole("admin") || User.IsInRole("moder"))
                {
                    <a href="@Url.Action("Edit", new { @id = item.Id})" class="btn btn-xs btn-warning">Редактировать</a>
                }
                <a href="#/" onclick="showInModal('@Url.Action("Details")','@item.Id')" class="btn btn-xs btn-info">Полные данные</a>
                @if (User.IsInRole("admin"))
                {
                    <a href="#/" onclick="deleteItem('@Url.Action("Delete")', '@item.Id', 'Сотрудник удален', '')" class="btn btn-xs btn-danger">Удалить</a>
                }
            </td>
        </tr>
    }
</table>