﻿@model PageViewModel<Employee>
@using MAS.Work.EmployeeCatalog.ViewModels
@using MAS.Work.EmployeeCatalog.Helpers
@using MAS.Work.EmployeeCatalog.Models

@{
ViewBag.Title = "Список сотрудников: " + Model.PageInfo.PageNumber + " из " + Model.PageInfo.TotalPages + ".";
}

<div class="form-horizontal">

    <div id="page-size-block" class="row">
        <div class="col-md-2"> Количество записей на странице</div>
        <div class="col-md-2">
            <select style="width:75px;" class="form-control" id="pageSizeSelector">
                <option>5</option>
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>
    </div>
    <br />
    <div id="table">

        <table class="table table-hover table-bordered table-condensed">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().ManInfo.Initals)</th>
                <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Post)</th>
                <th>@Html.DisplayNameFor(model => model.Objects.FirstOrDefault().Departament)</th>
                <th>Опции</th>
            </tr>

            @foreach (var item in Model.Objects)
        {
        <tr>
            <th>@Html.DisplayFor(x => item.ManInfo.Initals)</th>
            <th>@Html.DisplayFor(x => item.Post.Name)</th>
            <th>@Html.DisplayFor(x => item.Departament.Name)</th>
            <td>
                @if (User.IsInRole("admin") || User.IsInRole("moder"))
                    {
                    <a href="@Url.Action("Edit", new { @id = item.Id})" class="btn btn-xs btn-warning">Редактировать</a>
                    }
                <a href="#/" onclick="showInModal('@Url.Action("Details")','@item.Id')" class="btn btn-xs btn-info">Полные данные</a>
                @if (User.IsInRole("admin"))
                    {
                    <a href="#/" onclick="deleteItem('@Url.Action("Delete")', '@item.Id', 'Сотрудник удален', '')" class="btn btn-xs btn-danger">Удалить</a>
                    }
            </td>
        </tr>
        }

        </table>
    </div>
</div>

<br />

<div class="btn-group" id="pages">
        <button class="btn btn-default" href="#" id="prev-page" onclick="step(-1)">«</button>
            @Html.PageLinks(Model.PageInfo, x => Url.Action("ShowEmployees", new { page = x }))
        <button class="btn btn-default" href="#" id="next-page" onclick="step(1)">»</button>
    </div>

<script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $('#pageSizeSelector').val('@Model.PageInfo.PageSize');

                $('#prev-page').prop('disabled', '@Model.PageInfo.IsFirstPage');

                $('#next-page').prop('disabled', '@Model.PageInfo.IsLastPage')
            })
        });

        $('#pages').on('click', 'a', function (e) {
            e.preventDefault();
            getPage(this.href, this.text, $('#pageSizeSelector > option:selected').val());
        });

        $('#pageSizeSelector').change(function () {
            var url = '@Url.Action("ShowEmployees", "Employees")';
            var pageNumber = '@Model.PageInfo.PageNumber';
            var pageSize = $('#pageSizeSelector > option:selected').val();

            getPage(url, pageNumber, pageSize);
        });

        function step(itteration) {
            var url = '@Url.Action("ShowEmployees")';
            var pageNumber = '@Model.PageInfo.PageNumber+itteration';
            var pageSize = $('#pageSizeSelector > option:selected').val();
            getPage(url, pageNumber, pageSize);
        }

        function getPage(href, text, pageSize) {
            $('#table').html('<img src="/content/gifs/loading01.gif" class="gif-loading">');

            $.ajax({
                url: href,
                data: {
                    page: text,
                    pageSize: pageSize
                },
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#table').html(result);
                },
                error: function (request, status, error) {
                    console.log(error)
                    $.growl.error({ message: error });
                    $('#table').html('');
                }
            });
        }
    </script>
