﻿<h3>Поиск сотрудника</h3>
<br />
<div class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-md-2">Поиск по Фамилии</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="SecondName" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Поиск по Должности</label>
        <div class="col-md-10">
            @Html.DropDownList("Post", (ViewBag.Posts as IEnumerable<SelectListItem>), new { @class = "form-control", id = "postlist" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Поиск по Возрасту</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="Age" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Поиск по дате рождения</label>
        <div class="col-md-9">
            <input type="text" class="form-control col-md-1" id="dates" placeholder="Выберите границы">
        </div>
    </div>
</div>

<input type="button" class="btn btn-info col-md-offset-2 btn-block" id="btfilter" value="Поиск" />
<br /><hr /><br />
<div id="results">

</div>

<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $('#dates').on('keydown', function (e) {
            $('#dates').val() = "";
        })

        $('#btfilter').click(function (e) {
            e.preventDefault();
            $('#results').html('<img src="/content/gifs/loading01.gif" class="gif-loading">');

            var datesArray = $('#dates').val().split(", ");
            var maxDate, minDate;

            if (datesArray.length > 1) {

                // pzdc govnocod
                var dates = [];
                var temp_min = new Date("01.01.2900");
                var temp_max = new Date(1);

                var max, min;

                datesArray.forEach(function (item, i) {
                    var from = item.split(".");
                    var date = new Date(from[2], from[1] - 1, from[0]);

                    if (temp_max < date) {
                        temp_max = date;
                        max = item;
                    }

                    if (temp_min > date) {
                        temp_min = date;
                        min = item;
                    }
                    dates.push(date);
                });

                minDate = min;
                maxDate = max;
            }

            $.ajax({
                type: 'GET',
                url: '@Url.Action("Filter")',
                data: {
                    name: $('#SecondName').val(),
                    postId: $('#postlist > option:selected').val(),
                    age: $('#Age').val(),
                    startDate: minDate,
                    endDate: maxDate
                },
                success: function (result) {
                    $.growl.notice({ tittle: "Поиск", message: "Поиск завершен" })
                    $('#results').html(result);
                },
                error: function (request, status, error) {
                    $.growl.error({ tittle: "Ошибка", message: error })
                    $('#results').html('');
                }
            })
        });

        $(document).ready(function () {
            $('#dates').datepicker({
                startDate: "01.01.1900",
                endDate: "31.12.2010",
                startView: 1,
                multidate: true,
                multidateSeparator: ", ",
                language: "ru",
                format: "dd.mm.yyyy",
                orientation: "auto right",
                keyboardNavigation: false,
            });
        });
    });
</script>