﻿@using MAS.Work.EmployeeCatalog.ViewModels
@model EmployeeViewModel

@{
    ViewBag.Title = Model.Initals + ": Редактирование";
}

<link rel="stylesheet" href="~/Content/dropzone/dropzone.css">

<script type="text/javascript" src="~/Scripts/cropper/cropper.js"></script>
<link rel="stylesheet" href="~/Content/cropper/cropper.css">

<input type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("Index")';" value="Назад">
<br />

<div class="modal fade" id="avatar-modal" tabindex="-1" role="dialog" aria-labelledby="avatar-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title col-md-pull-1" id="avatar-modalLabel">Создайте аватар</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div id="dropZone" class="avatar-upload">
                        <input type="file" class="hidden" id="file-input" onchange="passData(files[0])" />
                        Для загрузки перетащите файл или нажмите <a href="#/" id="upload_link">сюда</a>​.
                    </div>

                    <div id="cropper-area">
                        <img class="crop-image" id="origin-image" src="@ViewBag.OriginImage">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group-xs btn-group-sm pull-left hidden" id="rotate-buttons">
                    <button type="button" class="btn btn-warning" title="Повернуть на 90 градусов против часовой стрелки" onclick="rotate(-90)">
                        <span class="glyphicon glyphicon-repeat icon-flipped"></span></button>
                    <button type="button" class="btn btn-warning" title="Повернуть на 90 градусов по часовой стрелки" onclick="rotate(90)">
                        <span class="glyphicon glyphicon-repeat"></span></button>
                </div>
                <button type="button" class="btn btn-success" id="btn-save-avatar" onclick="CropThePhoto()">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal" id="info-grid">
    <h4>Измените данные:</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.SecondName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BirthDay, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" class="form-control" id="birthday">
            @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">Фото:</label>
        <div class="col-md-10">
            <p>
                <img src="@ViewBag.PreviewImage" class="img-preview" id="photo-minuature" />
            </p>
            <div class="btn-group-sm">
                <button class="btn btn-warning hidden" id="btn-av-prew-change" data-target="#avatar-modal" data-toggle="modal">Изменить миниатюру</button>
                <button class="btn btn-success" id="btn-av-load" data-target="#avatar-modal" data-toggle="modal">Загрузить фото</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Место работы:</label>
        <div class="col-md-10">
            <p>
                @Html.DropDownList("Organization", (ViewBag.Orgs as IEnumerable<SelectListItem>),
           new { @class = "form-control", id = "orglist", onchange = "changed(this.value)" })<br />
                @Html.DropDownList("Departament", (ViewBag.Deps as IEnumerable<SelectListItem>), new { @class = "form-control", id = "deplist" })
            </p>
        </div>

    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Должность</label>
        <div class="col-md-10">
            <p>
                @Html.DropDownList("Post", (ViewBag.Posts as IEnumerable<SelectListItem>),
           new { @class = "form-control", id = "postlist" })
            </p>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Изменить" class="btn btn-info btn-block" onclick="ChangeInfo()" />
        </div>
    </div>
</div>

<script type="text/javascript">
    // Подгрузка отделов в зависимости от выбранной организации

    function changed(data) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetDepsAsync")',
            data: { id: data },
            success: function(result){
                operate(result);
            }
        });
    };

    function operate(result) {
        var select = document.getElementById("deplist");
        select.options.length = 0;
        $('#deplist').show();
        if (result.length > 0) {
            $.each(result, function () {
                var items = [];
                items.push("<option>-- Выберите отдел --</option>");
                $.each(result, function () {
                    items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                });
                $("#deplist").html(items.join(' '));

            });
        }
        else {
            $("#deplist").html("<option>-- Отделы не добавлены --</option>");
        }
    };
</script>


@section scripts{
    <script type="text/javascript">
        var resizedPhoto;
        var photo;
        var loaded = false;

        var cropped ='';

        var cropperActive = false;
        var dropZoneActive = false;

        var angle = 0;
        var cropX = 0, cropY = 0, cropWidth = 0, cropHeight = 0;

        var img;

        function HasPhoto(){
            return '@ViewBag.OriginImage' != '';
        }

        $(document).ready(function () {
            $('#upload_link').on('click', function (e) {
                e.preventDefault();
                $("#file-input").trigger('click');
            });

            $('#birthday').datepicker({
                startDate: "01.01.1900",
                endDate: "31.12.2010",
                startView: 1,
                language: "ru",
                format: "dd.mm.yyyy",
                orientation: "auto right",
                keyboardNavigation: false,
            });

            $('#birthday').datepicker('setDate', '@Model.BirthDay.ToShortDateString()');

            $(function(){
                if ('@ViewBag.OriginImage' != '')
                    $('#btn-av-prew-change').removeClass('hidden');
            });
        });

        $(function () {
            $('#btn-av-load').click(function () {
                $('#cropper-area').addClass('hidden');
                $('#rotate-buttons').addClass('hidden');

                InitDropZone();
            });

            $('#btn-av-prew-change').click(function () {
                $('#dropZone').addClass('hidden');

                setTimeout(function () {
                    InitCropper();
                }, 0.5 * 1000);
                // дiiiiiiдько що це таке, костыль
            });

            $('#avatar-modal').on('hidden.bs.modal', function () {
                if (dropZoneActive)
                    DestroyDropZone();

                if (cropperActive)
                    StopCropper(HasPhoto());

                $('#cropper-area').addClass('hidden');

                $('#rotate-buttons').addClass('hidden');
            })
        });

        function passData(file) {
            var isFileCorrectExtension = checkFileExtension(file);

            if (!isFileCorrectExtension)
                $.growl.error({ tittle: "Неверный тип файла", message: "Выберите файл формата: .jpg / .jpeg / .png / .bmp" })

            else
                SetOriginPhoto(document.getElementById('file-input').files[0]);

            $('#file-input').val('');
        }

        function checkFileExtension(file) {
            var regex = new RegExp("([^\.]*)+(.jpg|.png|.bmp|.jpeg)$");
            return regex.test(file.name.toLowerCase());
        }


        function InitDropZone() {

            var dropZone = $('#dropZone'),
                maxFileSize = 10000000; // максимальный размер фалйа - 5 мб.

            dropZone.removeClass('hidden');

            if (typeof (window.FileReader) == 'undefined') {
                dropZone.text('Не поддерживается браузером!');
                dropZone.addClass('error');
            }

            dropZone[0].ondragover = function () {
                dropZone.addClass('hover');
                return false;
            };

            dropZone[0].ondragleave = function () {
                dropZone.removeClass('hover');
                return false;
            };

            dropZone[0].ondrop = function (event) {
                event.preventDefault();
                dropZone.removeClass('hover');
                dropZone.addClass('drop');

                var file = event.dataTransfer.files[0];

                if (!checkFileExtension(file)) {
                    dropZone.removeClass('drop');
                    $.growl.error({ tittle: "Неверный формат файла", message: "Выберите файл формата: .jpg / .jpeg / .png / .bmp" })
                    // TODO: notify on error
                    return false;
                }

                if (file.size > maxFileSize) {
                    dropZone.text('Файл слишком большой!');
                    dropZone.addClass('error');
                    return false;
                }
                SetOriginPhoto(file);
                dropZone.removeClass('drop');
            };

            dropZoneActive = true;
        }

        function DestroyDropZone() {
            var dropZone = $('#dropZone');

            $('#dropZone').addClass('hidden');

            dropZone[0].ondrop = null;
            dropZone[0].ondragleave = null;
            dropZone[0].ondragover = null;

            dropZoneActive = false;
        }

        function uploadProgress(event) {
            var percent = parseInt(event.loaded / event.total * 100);
            dropZone.text('Загрузка: ' + percent + '%');
        }

        function stateChange(event) {
            if (event.target.readyState == 4) {
                if (event.target.status == 200) {
                    dropZone.text('Загрузка успешно завершена!');
                } else {
                    $.growl.error({title:'Ошибкен', message:'Произошла ошибка.\n\ Повторите загрузку.'});
                }
            }
        }


        function SetOriginPhoto(file) {
            photo = file;
            $('#dropZone').addClass('hidden');

            $('#cropper-area').removeClass('hidden');
            $('#cropper-area').html('<img class="gif-loading" src="/content/gifs/loading01.gif">');
             
            var data = new FormData();

            data.append('file', file);

            $.ajax({
                url: '@Url.Action("ResizeImage")',
                type: 'POST',
                dataType: 'json',
                processData: false,
                contentType: false,
                data: data,
                success: function(result){
                    $('#cropper-area').html();
                    if (result.Success){
                         resizedPhoto = result.resizedImage;
                         loaded = true;
                         $('#btn-av-prew-change').removeClass('hidden');
                         InitCropper();
                        }
                },
                error: function(response, status, error){
                        $.growl.error({title: 'Ошибка', message: error});
                }
                });
        }


        function rotate(_angle) {
            img.cropper('rotate', _angle);
        }

        function InitCropper() {
            $('#cropper-area').removeClass('hidden');

            $('#rotate-buttons').removeClass('hidden');

            if (!loaded){
                img = $('#origin-image');
            }

            else {
                img = $('<img class="crop-image" src="' + resizedPhoto + '">');
                $('#cropper-area').empty().html(img);
            }
            img.cropper({
                aspectRatio: 3 / 4,
                minCropBoxWidth: 150,
                minCropBoxHeight: 200,
                autoCrop: false,
                zoomable: false,
                scalable: false,
                crop: function (e) {
                    cropX = e.x,
                    cropY = e.y,
                    cropHeight = e.height,
                    cropWidth = e.width
                    angle = e.rotate
                }
            });

            cropperActive = true;
        }

        function StopCropper(_HasPhoto) {
            img.cropper('destroy');

            if (!_HasPhoto)
                img.remove();

            cropperActive = false;

            $('#cropper-area').addClass('hidden');
            $('#rotate-buttons').addClass('hidden');
        }


        function CheckSizes() {
            return cropWidth <= 1050 && cropHeight <= 1400;
        }

        function CropThePhoto() {

             var canProceed = CheckSizes();

            if (!canProceed) {
                $.growl.warning({
                    title: 'Превышен размер', message: 'Размер выделенной области слишком велик'
                });
                return false;
            }

            var data = new FormData();

            // чет мне тоже сие не нравки, смахивает на костыль
            if (photo == null) {
                data.append('origin', '@ViewBag.OriginImage');
            }
            else {
                data.append('origin', resizedPhoto);
            }
            //

            data.append('cropX', cropX);
            data.append('cropY', cropY);

            data.append('cropWidth', cropWidth);
            data.append('cropHeight', cropHeight);
            data.append('angle', angle);

            $.ajax({
               url: '@Url.Action("CropThePhoto")',
                type: 'POST',
                dataType: 'json',
                processData: false,
                contentType: false,
                data: data,
                success: function (data) {
                    if (data.Success) {

                        StopCropper(HasPhoto());

                        $('#btn-av-load').text('Загрузить другое фото');

                        cropped = data.preview;
                        $('#photo-minuature').attr('src', data.preview);
                        $('#photo-minuature').removeClass('hidden');

                       $('#btn-av-prew-change').removeClass('hidden');

                        $('#avatar-modal').modal('hide');
                    }
                    else
                        $.growl.error({ title: 'Ошибка', message: data.Error });

                },
                error: function (resposne) {
                    $.growl.error({ title: 'Ошибка', message: resposne.Error });
                }
            });
        }


        function ChangeInfo(){
            var data = new FormData();

            data.append('originFile', photo);

            data.append('FirstName', $('#FirstName').val());
            data.append('SecondName', $('#SecondName').val());
            data.append('MiddleName', $('#MiddleName').val());

            data.append('BirthDay', $('#birthday').val());

            data.append('PostId', $('#postlist > option:selected').val());
            data.append('DepartamentId', $("#deplist > option:selected").val());

            data.append('Id', '@Model.Id');

            data.append('Preview', cropped);

            $.ajax({
                url: '@Url.Action("Edit")',
                type: 'POST',
                dataType: 'json',
                data: data,

                processData: false,
                contentType: false,

                success: function (data) {
                    $.growl.notice({ title: "Успешнл", message: "Данные изменены" });

                    setTimeout(function () {
                        window.location.href = '@Url.Action("Index")';
                    }, 1, 5 * 1000);

                },
                error: function (request, status, error) {
                    var errors = request.responseJSON;

                    if (request.Error != null)
                        $.growl.warning({ title: 'Ошибка', message: request.Error });

                    if (errors != null){
                        $.growl.error({ title: "Ошибка", message: status });
                        for (var i = 0; i < errors.length; i++) {
                            $.growl.warning({ title: '', message: errors[i] });
                        }
                    }
                        
                }
            });
        }
    </script>
}