﻿@{
    ViewBag.Title = "Каталог сотрудников";
}

<ul class="nav nav-tabs">
    <li role="presentation" id="emps"><a href="#/" onclick="LoadAsync('@Url.Action("ShowEmployees")')"> Список сотрудников</a></li>
    <li role="presentation"><a href="#/" onclick="LoadAsync('@Url.Action("SearchEmployees")')"> Поиск сотрудника </a></li>
</ul>
<br/>
<div id="table">

</div>

@section scripts{
    <script type="text/javascript">
        $('.nav li').on('click', function () {
            $('.nav li').removeClass('active');
            $(this).addClass('active');
        });

        $(document).ready(function () {
            $('#emps').click();
           LoadAsync('@Url.Action("ShowEmployees")')
        });
    </script>
}
<script type="text/javascript">
    function LoadAsync(adress) {
        $('#table').html('<img src="../Content/gifs/loading01.gif" class="gif-loading" title="Загружаем.." alt="Loading" />');
       
        $.ajax({
            type: 'GET',
            url: adress,
            success: function (result) {
                $('#table').html(result);
            },
            error: function (request, status, error) {
                $.growl.error({ message: error });
                $('#table').html('');
            }
        });
    }

    function showInModal(url, id){
        $.ajax({
            type: 'GET',
            url: url,
            data: { id: id },
            success: function (result) {
                    $('#dialogContent').html(result);
                    $('#Dialog').modal('show');
            },
            error: function (request, status, error) {
                $.growl.error({ message: error });
            }
        })
    }

    function deleteItem(url, itemId, MessageSuccess, callbackUrl) {
        var result = confirm('Вы уверены?');
        if (result) {
            $.ajax({
                type: 'POST',
                url: url,
                data: { id: itemId },
                success: function (result) {
                    if (result.Success) {
                        $.growl.warning({ title: 'Удаление', message: MessageSuccess });
                        LoadAsync('@Url.Action("ShowEmployees")');
                    }

                    else
                        $.growl.error({ message: result.Error, title:'Ошибкен' });
                },
                error: function (request, status, error) {
                    $.growl.error({ message: error, title: 'Ошибкен' });
                }
            })
        }
    }
</script>
